* {
  margin: 0;
  padding: 0;
}

#tempNote{
  color: ghostwhite;

}


/*START HEADER GROUP START*/
header {
  background-image: url(../images/headers/hangingweed.gif);
  background-size: cover;
  height: 35vw;
  width: 100%;
}

#mainTitle {
  text-align: center;
  color: #8f1d83;
  font-family: 'Alfa Slab One', cursive;
  font-size: 7vw;
  padding-top: 7.5vw;
  text-shadow: .3vw .2vw 2vw #fdff8d;
}

#mainTagLine {
  color: #d7e337;
  text-align: center;
  font-family: 'Acme', sans-serif;
  font-size: 5vw;
  margin-top: -2.5vw;
  text-shadow: -.3vw -.2vw 2vw #94566d;
}

/*START NAVBAR START*/
nav a:link {
  color: #d7e337;
  font-family: 'Acme', sans-serif;
  font-size: 2.4vw;
  text-shadow: .3vw .2vw 0vw #94566d;
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
}

nav a:visited {
  color: #d7e337;
  font-family: 'Acme', sans-serif;
  font-size: 2.4vw;
  text-shadow: .3vw .2vw 0vw #94566d;
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
}

#navStoner {

  font-size: 3vw;
}

#homeNav {
  font-family: 'Alfa Slab One', cursive;
  color: #94566d;
  background-color: #8dd49c;
  font-size: 2.5vw;
  text-shadow: .2vw .1vw 0vw #d7e337;
}

#dropHome:hover {
  font-family: 'Alfa Slab One', cursive;
  color: #8f1d83;
  background-color: #2eba64;
  font-size: 2.5vw;
  text-shadow: .2vw .1vw 0vw #fdff8d;
}

#dropHome {
  font-family: 'Alfa Slab One', cursive;
  color: #8f1d83;
  font-size: 2.5vw;
  text-shadow: .2vw .1vw 0vw #fdff8d;
}

nav ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #427c64;
}

nav li {
  float: left;
  border-right: .1vw solid #8dd49c;
  margin-bottom: -.75vw;
}

nav li:last-child {
  border-right: none;
}

nav li a:hover:not(.active) {
  background-color: #2eba64;
}

.active {
  background-color: #2eba64;
}

.active:hover {
  background-color: #2eba64;
}

nav li a, .dropbtn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  display: block;
  color: whitesmoke;
  padding: 1.4vw 1.6vw;
}

nav li a:hover, .dropdown:hover .dropbtn {
  background-color: #8dd49c;
  color: whitesmoke;
  font-family: 'Acme', sans-serif;
}

nav li.dropdown {
  display: inline-block;
}

.dropdown-content {
  margin-top: -.75vw;
  margin-left: -.1vw;
  display: none;
  position: absolute;
  background-color: #427c64;
  box-shadow: 0vw .8vw 1.6vw 0vw rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.dropdown-content a {
  font-family: 'Acme', sans-serif;
  padding: 1.2vw 1.6vw;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*START NAVBAR START*/
/*END HEADER JUMBOTRON GROUP END*/

body {
  background-color: #100e17;
  font-family: 'Open Sans', sans-serif;
}

h2{
  color: antiquewhite;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 25px;
}

h3{
color: antiquewhite;
}

.container {

}







/*START FOOTER GROUP START*/
footer {
  clear: both;
  background-image: url(../images/footers/farm.webp);
  background-size: cover;
  height: 35vw;
  width: 100%;
}

/*END FOOTER GROUP END*/
