/*GLOBAL*/
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #d1e023;
}

footer {
  width: 100%;
}

input:focus {
  outline: none !important;
  border: 1px solid greenyellow;
  box-shadow: 0 0 10px #3a7235;
}

label {
  vertical-align: middle;
}

main {
  padding-top: 125px;
  margin: 0 auto;
  width: 960px;
}

select {
  font-family: 'Special Elite', cursive;
}

select:focus {
  outline: none !important;
  border: 1px solid greenyellow;
  box-shadow: 0 0 10px #3a7235;
}

/*CLASSES*/
.footer_image {
  width: 100%;
  height: 300px;
}

.header_image {
  width: 100%;
}

.header_text_group {
  color: #d3d99d;
  text-shadow: 2.5px 1.5px 0px #0e1716;
  text-align: center;
  margin-top: -20%;
  font-size: 2vw;
}

.introduction_text_content {
  background-color: #6a992f;
  padding: 50px;
  width: 960px;
  margin: 0 auto;
}

.title_course {
  font-size: 3.5vw;
  font-family: 'Alfa Slab One', cursive;
}

.title_course_line {
  font-size: 3.5vw;
  font-family: 'Acme', sans-serif;
}

.title_main {
  font-size: 5vw;
  font-family: 'Alfa Slab One', cursive;
}

.title_tagline {
  font-size: 3vw;
  font-family: 'Acme', sans-serif;
}

/*ID*/
#assignmentGroup {
  width: 960px;
  height: 650px;
  margin-bottom: -25px

}

#basicButton {
  background: #7ca427;
  background-image: -webkit-linear-gradient(top, #7ca427, #1f211b);
  background-image: -moz-linear-gradient(top, #7ca427, #1f211b);
  background-image: -ms-linear-gradient(top, #7ca427, #1f211b);
  background-image: -o-linear-gradient(top, #7ca427, #1f211b);
  background-image: linear-gradient(to bottom, #7ca427, #1f211b);
  font-family: 'Acme', sans-serif;
  color: #e6ff00;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-shadow: 2.5px 1.5px 0px #0e1716;
}

#basicButton:hover {
  background: #1f211b;
  background-image: -webkit-linear-gradient(top, #1f211b, #7ca427);
  background-image: -moz-linear-gradient(top, #1f211b, #7ca427);
  background-image: -ms-linear-gradient(top, #1f211b, #7ca427);
  background-image: -o-linear-gradient(top, #1f211b, #7ca427);
  background-image: linear-gradient(to bottom, #1f211b, #7ca427);
  text-decoration: none;
}

#buttonDiv {
  width: 500px;
  margin: 0 auto;
}

#checkboxDiv label {
  color: #f2f0f5;
  font-family: 'Special Elite', cursive;
  font-size: 16px;
  text-shadow: 2.5px 1.5px 0px #0e1716;
  text-shadow: 2.5px 1.5px 0px #0e1716;
  margin-right: 5px;
}

#colorPickDiv label {
  color: #f2f0f5;
  font-family: 'Special Elite', cursive;
  font-size: 14px;
  text-shadow: 2.5px 1.5px 0px #0e1716;
  margin-right: 5px;
}

#cssLevelTwoButton {
  background: #e6ff00;
  background-image: -webkit-linear-gradient(top, #e6ff00, #737839);
  background-image: -moz-linear-gradient(top, #e6ff00, #737839);
  background-image: -ms-linear-gradient(top, #e6ff00, #737839);
  background-image: -o-linear-gradient(top, #e6ff00, #737839);
  background-image: linear-gradient(to bottom, #e6ff00, #737839);
  font-family: 'Acme', sans-serif;
  color: #0e1716;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 25px 0px 50px 25px;
  text-shadow: 1px 1px 0px #0e1716;
}

#cssLevelTwoButton:hover {
  background: #737839;
  background-image: -webkit-linear-gradient(top, #737839, #e6ff00);
  background-image: -moz-linear-gradient(top, #737839, #e6ff00);
  background-image: -ms-linear-gradient(top, #737839, #e6ff00);
  background-image: -o-linear-gradient(top, #737839, #e6ff00);
  background-image: linear-gradient(to bottom, #737839, #e6ff00);
  text-decoration: none;
}

#cssMain {
  padding-left: 7.5%;
  padding-right: 7.5%;
}

#cssMain a:link, a:visited {
  color: #f2f0f5;
  font-family: 'Special Elite', cursive;
  text-shadow: 2.5px 1.5px 0px #0e1716;
  text-shadow: 2.5px 1.5px 0px #0e1716;
  font-size: 18px;
}

#cssMain a:hover, a:active {
  color: greenyellow;
  font-family: 'Special Elite', cursive;
  text-shadow: 2.5px 1.5px 0px #0e1716;
  font-size: 20px;
}

#cssMain h2 {
  color: #d1e023;
  font-family: 'Alfa Slab One', cursive;
  text-shadow: 4px 3px 0px #0e1716;
  font-size: 34px;
  text-decoration: underline;
}

#cssMain h6 {
  color: #f2f0f5;
  font-family: 'Acme', sans-serif;
  text-shadow: 2px 1px 0px #0e1716;
  font-size: 18px;
}

#cssMain p {
  color: #f2f0f5;
  font-family: 'Special Elite', cursive;
  text-shadow: 2.5px 1.5px 0px #0e1716;
  font-size: 20px;
}

#cssMain ol {
  color: #f2f0f5;
  font-family: 'Special Elite', cursive;
  text-shadow: 2.5px 1.5px 0px #0e1716;
  font-size: 20px;
  margin: 25px 50px;
}

#cssMain table, td, th {
  border: 5px solid #f2f0f5;
  color: greenyellow;
  font-family: 'Roboto Slab', serif;
  text-shadow: 2.5px 1.5px 0px #0e1716;
  font-size: 20px;
  text-align: center;
}

#cssMain td {
  height: 50px;
  width: 75px;
}

#cssMain th {
  color: #faea19;
  font-family: 'Roboto Slab', serif;
  text-shadow: 2.5px 1.5px 0px #0e1716;
  font-size: 20px;
  margin: 25px 50px;
}

#cssMain ul {
  color: #f2f0f5;
  font-family: 'Special Elite', cursive;
  text-shadow: 2.5px 1.5px 0px #0e1716;
  text-shadow: 2.5px 1.5px 0px #0e1716;
  font-size: 20px;
  margin: 25px 50px;
}

#dropDiv label {
  font-family: 'Acme', sans-serif;
  color: #faea19;
  font-size: 25px;
  text-shadow: 2.5px 1.5px 0px #0e1716;
  text-shadow: 2.5px 1.5px 0px #0e1716;
}

#formIntro {
  text-align: center;
}

#frontEndFormExample {
  border: 5px dotted greenyellow;
  padding: 25px 0px;
  text-align: center;
  width: 500px;
}

#frontEndFormExample p {
  font-family: 'Acme', sans-serif;
  color: #faea19;
  font-size: 25px;
  text-shadow: 2.5px 1.5px 0px #0e1716;
}

#frontEndFormSection {
  width: 960px;
  margin: 0 auto;
  background-color: #6a992f;
  padding: 50px;
}

#imageFile {
  color: #f2f0f5;
  font-family: 'Special Elite', cursive;
  text-shadow: 2.5px 1.5px 0px #0e1716;
  text-shadow: 2.5px 1.5px 0px #0e1716;
  font-size: 15px;
  margin: 25px 50px;
}

#nameDiv label {
  font-family: 'Acme', sans-serif;
  color: #faea19;
  font-size: 25px;
  text-shadow: 2.5px 1.5px 0px #0e1716;
  margin-right: 5px;
  margin-left: 10px;
}

#orderedListExample {
  width: 320px;
  background-color: #6a992f;
  height: 550px;
  padding: 15px;

}

#output {
  width: 455px;
}

#radioButtons label {
  color: #f2f0f5;
  font-family: 'Special Elite', cursive;
  font-size: 25px;
  text-shadow: 2.5px 1.5px 0px #0e1716;
  margin-right: 5px;
  margin-left: 10px;
}

#resultDiv {
  width: 525px;
  padding: 25px;
  margin: 0 auto;
  text-align: center;
}

#spanResult1 {
  color: #f2f0f5;
  font-family: 'Acme', sans-serif;
  font-size: 20px;
  text-align: center;
}

#spanResult2 {
  font-family: 'Special Elite', cursive;
  font-size: 20px;
  text-align: center;
}

#spanResult4 {
  color: #f2f0f5;
  font-family: 'Acme', sans-serif;
  font-size: 20px;
  text-align: center;
}



#ticTacToeDiv {
  width: 320px;
  background-color: #6a992f;
  height: 550px;
  margin-top: -580px;
  margin-left: 740px;
  width: 290px;
  background-color: #6a992f;
  padding: 15px;
  text-align: center;
}

#titleDjangoBootcamp {
  font-size: 2.5vw;
  font-family: 'Chewy', cursive;
}

#titleFullStack {
  font-size: 2.5vw;
  font-family: 'Chewy', cursive;
}

#unoderedListsAndLinksExample {
  width: 320px;
  background-color: #6a992f;
  margin-top: -580px;
  margin-left: 385px;
  width: 290px;
  background-color: #6a992f;
  height: 550px;
  padding: 15px;
}

#yourName {
  color: #3a7235;
  font-weight: 900;
  font-family: 'Special Elite', cursive;
  padding: 10px;
  padding-top 20px;
  border-radius: 4px;
  font-size: 15px;
  width: 295px;
  background: #f2f0f5;
}

#youSmokelist {
  color: #3a7235;
  font-weight: 900;
  font-family: 'Special Elite', cursive;
  padding: 10px;
  border-radius: 4px;
  font-size: 15px;
  background: #f2f0f5;
}
