/*GLOBAL*/
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #8ca082;
}

p {
  color: #263753;
  text-shadow: 1px 0px 0px gray;
}

/*CLASSES*/
.assignment_mini_title {
  color: #5f685e;
  font-family: 'Acme', sans-serif;
  text-shadow: 1px 1px 1px black;
}

.assignment_text_content {
  background-color: #f3e4df;
  padding: 50px;
  width: 960px;
  margin-top: 50px;
  font-family: 'Special Elite', cursive;
  font-weight: 900;
  box-shadow: 5px 5px 5px #2d4c1f;
}

.bday_group {
  font-size: 15px;
  margin-top: 25px;
}

.bday_group input {
  font-size: 15px;
}

#bdayNote {
  font-size: 12px;
  width: 550px;
}

.datefield {
  margin-top: -20px;
  margin-left: 75px;
}

#checkImage {
  width: 500px;
  height: 250px;
  margin: 25px 25px 25px 225px;
}

#checkImageDiv {
  margin: 0 auto;
}

#chimpPower {
  font-size: 12px;
  float: right;
}

#paypalButtonGroup {
  width: 50px;
  margin: 25px 0px 25px 400px;
}

.css_two_content {
  font-family: 'Special Elite', cursive;
  font-weight: 900;
  margin-top: 25px;
}

.mc-field-group {
  margin-bottom: 10px;
}

.footer_image {
  width: 100%;
  height: 250px;
}

.header_image {
  width: 100%;
}

.header_text_group {
  color: #d3d99d;
  text-shadow: 2.5px 1.5px 0px #0e1716;
  text-align: center;
  margin-top: -20%;
  font-size: 2vw;
}

.indicates-required {
  font-size: 12px
}

.introduction_text_content {
  background-color: #f3e4df;
  padding: 50px;
  width: 960px;
  box-shadow: 5px 5px 5px #2d4c1f;
}

.mainImageDiv {
  float: left;
  width: 480px;
}

.title_course {
  font-size: 3.5vw;
  font-family: 'Chewy', cursive;
}

.title_course_line {
  font-size: 4.5vw;
  font-family: 'Acme', sans-serif;
}

.title_main {
  font-size: 5vw;
  font-family: 'Alfa Slab One', cursive;
}

.title_tagline {
  margin-top: 5px;
  font-size: 3vw;
  font-family: 'Acme', sans-serif;
}

/*ID*/
#atHandTyping {
  float: right;
}

#atHandImage {
  width: 480px;
  height: 480px;
  margin-top: 50px;
  margin-left: 25px;
}

#bootstrapButton {
  box-shadow: inset 0px 0px 14px -3px #f2fadc;
  background: linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
  background-color: #dbe6c4;
  border-radius: 6px;
  border: 1px solid #b2b8ad;
  display: inline-block;
  cursor: pointer;
  color: #263753;
  font-family: 'Acme', sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ced9bf;
  font-family: 'Cinzel', serif;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px ghostwhite;
  margin-bottom: 25px;
  width: 500px;
  box-shadow: 5px 5px 5px #2d4c1f;
}

#bootstrapButton:hover {
  background:linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
	background-color:#9ba892;
  color: whitesmoke;
    text-shadow: 0px 1px 0px #263753;

}

#bootstrapButton:active {
  position: relative;
  top: 1px;
}

#bootstrapButtonDiv {
  width: 500px;
  margin-left: 275px;
  margin-top: 50px;
}

#cssMain {
  padding-left: 7.5%;
  padding-right: 7.5%;
  width: 960px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
}

#cssMain h2 {
  color: #5f685e;
  font-family: 'Cinzel', serif;
  text-shadow: 1px 1px 1px black;
  font-size: 50px;
}

#mailChimpDiv {
  width: 480px;
  margin: 0 auto;
}

#meInTheLab {
  width: 450px;
}
