/*GLOBAL*/
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #cc912d;
  overflow-x: hidden;
}

main {
  width: 86vw;
  padding: 50px;
  margin: auto;
}

/*START HEADER GROUP START*/
header {
  background-image: url(../images/potphotoheader.jpg);
  background-size: cover;
  height: 35vw;
  width: 100%;
}

.header_text_group {
  color: #d3d99d;
  text-shadow: 2.5px 1.5px 0px #0e1716;
  text-align: center;
  padding-top: 15vw;
  font-size: 2vw;
  padding-left: 10vw;
}

.title_course_line {
  font-size: 4.5vw;
  font-family: 'Acme', sans-serif;
}

.title_main {
  font-size: 5vw;
  font-family: 'Alfa Slab One', cursive;
}

.title_tagline {
  margin-top: 5px;
  font-size: 2.9vw;
  font-family: 'Acme', sans-serif;
}

/*START NAVBAR START*/
nav a:link {
  color: #d7e337;
  font-family: 'Acme', sans-serif;
  font-size: 2.4vw;
  text-shadow: .3vw .2vw 0vw #94566d;
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
}

#homeNav {
  font-family: 'Alfa Slab One', cursive;
  color: #94566d;
  background-color: #8dd49c;
  font-size: 2.5vw;
  text-shadow: .2vw .1vw 0vw #d7e337;
}

#dropHome:hover {
  font-family: 'Alfa Slab One', cursive;
  color: #8f1d83;
  background-color: #2eba64;
  font-size: 2.5vw;
  text-shadow: .2vw .1vw 0vw #fdff8d;
}

#dropHome {
  font-family: 'Alfa Slab One', cursive;
  color: #8f1d83;
  font-size: 2.5vw;
  text-shadow: .2vw .1vw 0vw #fdff8d;
}

nav ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #427c64;
}

nav li {
  float: left;
  border-right: .1vw solid #8dd49c;
  margin-bottom: -.75vw;
}

nav li:last-child {
  border-right: none;
}

nav li a:hover:not(.active) {
  background-color: #2eba64;
}

.active {
  background-color: #2eba64;
}

.active:hover {
  background-color: #2eba64;
}

nav li a, .dropbtn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  display: block;
  color: whitesmoke;
  padding: 1.4vw 1.6vw;
}

nav li a:hover, .dropdown:hover .dropbtn {
  background-color: #8dd49c;
  color: whitesmoke;
  font-family: 'Acme', sans-serif;
}

nav li.dropdown {
  display: inline-block;
}

.dropdown-content {
  margin-top: -.75vw;
  margin-left: -.1vw;
  display: none;
  position: absolute;
  background-color: #427c64;
  box-shadow: 0vw .8vw 1.6vw 0vw rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.dropdown-content a {
  font-family: 'Acme', sans-serif;
  padding: 1.2vw 1.6vw;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*START NAVBAR START*/
/*END HEADER JUMBOTRON GROUP END*/
/*MAIN IMAGE*/
#cssMe {
  position: absolute;
  margin-top: 5vw;
  margin-left: 15vw;
  width: 86vw;
  z-index: 10;
  box-shadow: .5vw .5vw 1vw black;
}

/*START INTRO TEXT AREA START*/
.introduction_text_content {
  background-color: #462a0f;
  padding: 5vw;
  margin-top: 7.5vw;
  height: 225vw;
  box-shadow: .5vw .5vw 1vw black;
}

.main_page_title {
  position: absolute;
  margin-top: 33vw;
  margin-left: -17.5vw;
  color: #dbd7d6;
  background-color: #c7ad63;
  font-family: 'Trocchi', serif;
  text-shadow: .5vw .4vw 0vw #201615;
  font-size: 6vw;
  padding: 5vw 5vw 2vw 25vw;
  z-index: 7;
  box-shadow: .5vw .5vw 1vw black;
}

#introTextGroup {
  font-family: 'Crimson Text', serif;
  font-size: 2.5vw;
  line-height: 1.7;
  width: 100%;
  margin-top: 47vw;
}

#paraGOne {
  position: absolute;
  margin-top: -2vw;
  margin-left: -9vw;
  width: 89vw;
  background-color: #1a0e1a;
  padding: 5vw 2.5vw;
  color: #cea85d;
  z-index: 6;
  box-shadow: .5vw .5vw 1vw black;
}

#paraGTwo {
  position: absolute;
  margin-left: 0vw;
  margin-top: 22vw;
  width: 72vw;
  background-color: #e3cc9a;
  padding: 2.5vw;
  color: #6b3c22;
  z-index: 6;
  box-shadow: .5vw .5vw 1vw black;
}

#paraGThree {
  position: absolute;
  margin-left: 15vw;
  margin-top: 46vw;
  width: 66vw;
  background-color: #c68c28;
  padding: 5vw;
  padding-right: 15vw;
  color: #d5ba8d;
  z-index: 7;
  box-shadow: .5vw .5vw 1vw black;
}

#paraGFour {
  position: absolute;
  margin-top: 75vw;
  margin-left: -22vw;
  width: 66vw;
  background-color: #6b3c22;
  padding: 5vw;
  padding-left: 15vw;
  color: #c68c28;
  z-index: 9;
  box-shadow: .5vw .5vw 1vw black;
}

#paraGFive {
  position: absolute;
  margin-top: 104vw;
  margin-left: 25vw;
  width: 55vw;
  background-color: #7b490a;
  padding: 5vw;
  padding-right: 15vw;
  color: #dfc27c;
  z-index: 10;
  box-shadow: .5vw .5vw 1vw black;
}

#paraGSix {
  position: absolute;
  margin-left: -12vw;
  width: 90vw;
  background-color: #cea85d;
  margin-top: 137vw;
  padding: 5vw;
  color: #1a0e1a;
  z-index: 7;
  box-shadow: .5vw .5vw 1vw black;
}

#mainNote {
  position: absolute;
  margin-top: 167vw;
  color: #f2f0f5;
  font-family: 'Acme', sans-serif;
  text-shadow: 2px 1px 0px #0e1716;
  font-size: 2vw;
  width: 82vw;
  margin-left: -2.5vw;
}

/*END INTRO TEXT AREA END*/
/*START ORDERED LIST START*/

#assignmentGroupOne{
  width: 97vw;
  margin-top: 5vw;
  margin-left: -8vw;
  padding-bottom: 5vw;

}

.list_title {
  font-family: 'Alfa Slab One', cursive;
  color: #1a0e1a;
  text-align: center;
  font-size: 2.9vw;
}

.list_tagline {
  font-family: 'Acme', sans-serif;
  color: #1a0e1a;
  text-align: center;
  font-size: 2.5vw;
}

.list_title_group{
  background-color: #cea85d;
  padding: 1vw;
}

#orderedListExample {
  float: left;
  width: 42vw;
    height: 62vw;
    margin-left: 5vw;
  background-color: #e3cc9a;
  box-shadow: .5vw .5vw 1vw black;
}

#orderedListExample ol {
  color: #1a0e1a;
  font-family: 'Trocchi', serif;
  text-shadow: .1vw 0vw 0vw #0e1716;
  font-size: 1.8vw;
  padding-left: 5vw;
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;

}

/*END ORDERED LIST END*/
/*START UNORDERED LIST START*/
#unoderedListsAndLinksExample {
  float: right;
  width: 42vw;
    height: 62vw;
    margin-left: 5vw;
  background-color: #e3cc9a;
  box-shadow: .5vw .5vw 1vw black;
}

#assignmentGroup a:link, a:visited {
  color: #1a0e1a;
  font-family: 'Trocchi', serif;
  text-shadow: .1vw 0vw 0vw #0e1716;
  font-size: 1.8vw;
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
}

#assignmentGroup a:hover, a:active {
  color: #c68c28;
  font-family: 'Trocchi', serif;
  text-shadow: .1vw 0vw 0vw #0e1716;
  font-size: 1.95vw;
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
}


#unoderedListsAndLinksExample ul {
  color: #1a0e1a;
  font-family: 'Trocchi', serif;
  text-shadow: .1vw 0vw 0vw #0e1716;
  font-size: 1.8vw;
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
  margin-left: 5vw;
}

#assignment_two_title_group{
  background-color: #cea85d;
  padding: 1vw;

}


#assignment_two_tagline {

}


/*END UNORDERED LIST END*/
/*START TIC TAC TABLE SECTION START*/
#ticTacToeDiv {
  margin-top: 50vw;
  width: 60vw;
  background-color: #6b3c22;
  padding: 15px;
  margin-left: 7.5vw;
  text-align: center;
  box-shadow: 5px 5px 10px black;
}

.assignment_three_title{
  font-family: 'Alfa Slab One', cursive;
  color: #cea85d;
  text-align: center;
  font-size: 7vw;
  margin-top: 10vw;
  position: inherit;
}

.assignment_three_tagline{
font-family: 'Acme', sans-serif;
color: #c68c28;
text-align: center;
font-size: 2.3vw;
padding-bottom: .1vw;
}

#ticTacTable {
  margin: auto;
}

#ticTacTable table, td, th {
  border: 5px solid #f2f0f5;
  color: greenyellow;
  font-family: 'Roboto Slab', serif;
  text-shadow: 2.5px 1.5px 0px #0e1716;
  font-size: 20px;
  text-align: center;
}

#ticTacTable td {
  height: 15vw;
  width: 15vw;
  background-color: #d3d99d;
}

#ticTacTable th {
  color: #faea19;
  font-family: 'Roboto Slab', serif;
  text-shadow: 2.5px 1.5px 0px #0e1716;
  font-size: 20px;
  margin: 25px 50px;
  height: 10vw;
    background-color: greenyellow;
}
#tick{
    background-color: greenyellow !important;;
}

#tack{
    background-color: greenyellow !important;
}

#ttTable{
      background-color: greenyellow !important;
}
/*END TIC TAC TABLE SECTION END*/
/*START FORM SECTION START*/
#frontEndFormSection {
  width: 75vw;
  background-color: #6a992f;
  padding: 5vw;
  box-shadow: .5vw .5vw 1vw black;
}

/*END FORM SECTION END*/
/*ID*/
/*START TEXT DESIGN*/


#basicButton {
  background: #e6ff00;
  background-image: -webkit-linear-gradient(top, #e6ff00, #737839);
  background-image: -moz-linear-gradient(top, #e6ff00, #737839);
  background-image: -ms-linear-gradient(top, #e6ff00, #737839);
  background-image: -o-linear-gradient(top, #e6ff00, #737839);
  background-image: linear-gradient(to bottom, #e6ff00, #737839);
  font-family: 'Acme', sans-serif;
  color: #f2f0f5;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 25px 0px 50px 25px;
  text-shadow: 1px 1px 0px #0e1716;
}

#basicButton:hover {
  background: #737839;
  background-image: -webkit-linear-gradient(top, #737839, #e6ff00);
  background-image: -moz-linear-gradient(top, #737839, #e6ff00);
  background-image: -ms-linear-gradient(top, #737839, #e6ff00);
  background-image: -o-linear-gradient(top, #737839, #e6ff00);
  background-image: linear-gradient(to bottom, #737839, #e6ff00);
  text-decoration: none;
}

#checkboxDiv label {
  color: #f2f0f5;
  font-family: 'Special Elite', cursive;
  font-size: 16px;
  text-shadow: 2.5px 1.5px 0px #0e1716;
  text-shadow: 2.5px 1.5px 0px #0e1716;
  margin-right: 5px;
}

#colorPickDiv label {
  color: #f2f0f5;
  font-family: 'Special Elite', cursive;
  font-size: 14px;
  text-shadow: 2.5px 1.5px 0px #0e1716;
  margin-right: 5px;
}

#cssLevelTwoButton {
  background: #7ca427;
  background-image: -webkit-linear-gradient(top, #7ca427, #1f211b);
  background-image: -moz-linear-gradient(top, #7ca427, #1f211b);
  background-image: -ms-linear-gradient(top, #7ca427, #1f211b);
  background-image: -o-linear-gradient(top, #7ca427, #1f211b);
  background-image: linear-gradient(to bottom, #7ca427, #1f211b);
  font-family: 'Acme', sans-serif;
  color: #e6ff00;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-shadow: 2.5px 1.5px 0px #0e1716;
  margin: 25px 0px 50px 25px;
}

#cssLevelTwoButton:hover {
  background: #1f211b;
  background-image: -webkit-linear-gradient(top, #1f211b, #7ca427);
  background-image: -moz-linear-gradient(top, #1f211b, #7ca427);
  background-image: -ms-linear-gradient(top, #1f211b, #7ca427);
  background-image: -o-linear-gradient(top, #1f211b, #7ca427);
  background-image: linear-gradient(to bottom, #1f211b, #7ca427);
  text-decoration: none;
}




#dropDiv label {
  font-family: 'Acme', sans-serif;
  color: #faea19;
  font-size: 25px;
  text-shadow: 2.5px 1.5px 0px #0e1716;
  text-shadow: 2.5px 1.5px 0px #0e1716;
}

#formIntro {
  text-align: center;
}

#frontEndFormExample {
  border: 5px dotted greenyellow;
  padding: 25px 0px;
  text-align: center;
  width: 500px;
  margin: 0 auto;
}

#frontEndFormExample p {
  font-family: 'Acme', sans-serif;
  color: #faea19;
  font-size: 25px;
  text-shadow: 2.5px 1.5px 0px #0e1716;
}

#imageFile {
  color: #f2f0f5;
  font-family: 'Special Elite', cursive;
  text-shadow: 2.5px 1.5px 0px #0e1716;
  text-shadow: 2.5px 1.5px 0px #0e1716;
  font-size: 15px;
  margin: 25px 50px;
}

#nameDiv label {
  font-family: 'Acme', sans-serif;
  color: #faea19;
  font-size: 25px;
  text-shadow: 2.5px 1.5px 0px #0e1716;
  margin-right: 5px;
  margin-left: 10px;
}

#output {
  width: 455px;
}

#radioButtons label {
  color: #f2f0f5;
  font-family: 'Special Elite', cursive;
  font-size: 25px;
  text-shadow: 2.5px 1.5px 0px #0e1716;
  margin-right: 5px;
  margin-left: 10px;
}

#resultDiv {
  width: 525px;
  padding: 25px;
  margin-top: 50px;
  margin: 25px;
  text-align: center;
  box-shadow: 5px 5px 10px black;
  background-color: #649c37;
  margin-left: 240px;
}

#spanResult1 {
  color: #f2f0f5;
  font-family: 'Acme', sans-serif;
  font-size: 20px;
  text-align: center;
}

#spanResult2 {
  font-family: 'Special Elite', cursive;
  font-size: 20px;
  text-align: center;
  color: #d3be3e;
}

#spanResult4 {
  color: #f2f0f5;
  font-family: 'Acme', sans-serif;
  font-size: 20px;
  text-align: center;
}

#yourName {
  color: #3a7235;
  font-weight: 900;
  font-family: 'Special Elite', cursive;
  padding: 10px;
  padding-top 20px;
  border-radius: 4px;
  font-size: 15px;
  width: 295px;
  background: #f2f0f5;
}

#youSmokelist {
  color: #3a7235;
  font-weight: 900;
  font-family: 'Special Elite', cursive;
  padding: 10px;
  border-radius: 4px;
  font-size: 15px;
  background: #f2f0f5;
}

input:focus {
  outline: none !important;
  border: 1px solid greenyellow;
  box-shadow: 0 0 10px #3a7235;
}

label {
  vertical-align: middle;
}

select {
  font-family: 'Special Elite', cursive;
}

select:focus {
  outline: none !important;
  border: 1px solid greenyellow;
  box-shadow: 0 0 10px #3a7235;
}



/*START FOOTER GROUP START*/
footer {
  background-image: url("../images/basicpotheadfooter.jpg");
  background-size: cover;
  height: 35vw;
  width: 100%;
}

/*END FOOTER GROUP END*/
