/*GLOBAL*/
* {
  padding: 0;
  margin: 0;
}




/*CLASSES*/

.css_two_content{
  font-family: 'Special Elite', cursive;
  font-weight: 900;
  margin-top: 10px;
  margin-bottom: 25px;
}

.footer_image{
  width: 100%;
}

.header_image {
  width: 100%;
}

.header_text_group {
  color: #faea19;
  text-shadow: 3px 2px 0px #b1a62a;
  -webkit-text-stroke: .1px #;
  text-align: center;
  margin-top: -20%;
  font-size: 2vw;
}

.introduction_text_content{
  background-color: ghostwhite;
  padding: 50px;

}

.title_course {
  font-size: 3.5vw;
  font-family: 'Chewy', cursive;
}

.title_course_line {
  font-size: 3.5vw;
  font-family: 'Special Elite', cursive;
}

.title_main {
  font-size: 5vw;
  font-family: 'Chewy', cursive;
}

.title_tagline {
  font-size: 3vw;
  font-family: 'Special Elite', cursive;
}

/*ID*/


#capstoneButton {
	box-shadow:inset 0px 1px 0px 0px ghostwhite;
	background:linear-gradient(to bottom, ghostwhite 5%, #f6f6f6 100%);
	background-color:ghostwhite;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
  font-family: 'Cinzel', serif;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px ghostwhite;
  margin-bottom: 50px;
}

#capstoneButton:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, ghostwhite 100%);
	background-color:#f6f6f6;
}

#capstoneButton:active {
	position:relative;
	top:1px;
}

#capstoneButtonDiv{
  width: 500px;
  margin: 0 auto;

}

#cssMain {
  background-color: #e4e4e6;
  padding-left: 7.5%;
  padding-right: 7.5%;
}

#cssMain h2 {
  color: #171813;
  font-family: 'Cinzel', serif;
  text-shadow: 2px 1px 5px #3b393c;
  font-size: 50px;
}


#titleDjangoBootcamp {
  font-size: 3vw;
  font-family: 'Chewy', cursive;
}

#titleFullStack {
  font-size: 3vw;
  font-family: 'Chewy', cursive;
}
