/*GLOBAL*/
* {
  padding: 0;
  margin : 0;
}

body {
  background-color: #d1ba86;
}

main {
  padding: 5vw;
}
/*START HEADER GROUP START*/
.sharethis-inline-share-buttons {
  color: white;
  float: right;
}

header {
  background-image: url("../images/headers/potphotoheader.webp");
  background-size : cover;
  height          : 35vw;
  width           : 100%;
}

.header_text_group {
  color       : #d3d99d;
  text-shadow : 2.5px 1.5px 0 #0e1716;
  text-align  : center;
  padding-top : 15vw;
  font-size   : 2vw;
  padding-left: 10vw;
}

.title_course_line {
  font-size  : 4.5vw;
  font-family: "Acme", sans-serif;
}

.title_main {
  font-size  : 5vw;
  font-family: "Alfa Slab One", cursive;
}

.title_tagline {
  margin-top : 5px;
  font-size  : 2.9vw;
  font-family: "Acme", sans-serif;
}
/*START NAVBAR START*/
nav a:link {
  color         : #d7e337;
  font-family   : "Acme", sans-serif;
  font-size     : 2.4vw;
  text-shadow   : .3vw .2vw 0 #94566d;
  padding-top   : 2.5vw;
  padding-bottom: 2.5vw;
}

#navStoner {
  font-size: 3vw;
}

#homeNav {
  font-family: "Alfa Slab One", cursive;
  color      : #8f1d83;
  font-size  : 2.5vw;
  text-shadow: .2vw .1vw 0 #fdff8d;
}

nav ul {
  list-style-type : none;
  margin          : 0;
  overflow        : hidden;
  background-color: #427c64;
}

nav li {
  float        : left;
  border-right : .1vw solid #8dd49c;
  margin-bottom: -.75vw;
}

nav li:last-child {
  border-right: none;
}

nav li a:hover:not(.active) {
  background-color: #2eba64;
}

.active {
  background-color: #2eba64;
}

.active:hover {
  background-color: #2eba64;
}

.dropbtn,
nav li a {
  display        : inline-block;
  text-align     : center;
  text-decoration: none;
  display        : block;
  color          : whitesmoke;
  padding        : 1.4vw 1.6vw;
}

.dropdown:hover .dropbtn,
nav li a:hover {
  background-color: #8dd49c;
  color           : whitesmoke;
  font-family     : "Acme", sans-serif;
}

nav li.dropdown {
  display: inline-block;
}

.dropdown-content {
  margin-top      : -.75vw;
  margin-left     : -.1vw;
  display         : none;
  position        : absolute;
  background-color: #427c64;
  box-shadow      : 0 .8vw 1.6vw 0 rgba(0, 0, 0, 0.2);
  z-index         : 1;
}

.dropdown-content a {
  font-family    : "Acme", sans-serif;
  padding        : 1.2vw 1.6vw;
  text-decoration: none;
  display        : block;
  text-align     : left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#certTab {
  float: right;
}
/*END NAVBAR END*/
/*END HEADER GROUP END*/
/*START MAIN CONTENT START*/

.main_content p {
  padding-bottom: 2.5vw;
}

.main_content {
  font-family: "Special Elite", cursive;
  color      : #fffec5;
  text-shadow: .2vw .1vw .1vw #81612e;
  font-size  : 1.75vw;
  line-height: 1.7;
}

.main_content a:link,
a:visited {
  font-family: "Special Elite", cursive;
  color      : #fdff8d;
  text-shadow: .1vw .0vw .2vw #8f1d83;
  font-size  : 1.75vw;
}

.main_content a:hover,
a:active {
  font-family: "Special Elite", cursive;
  color      : #d7e337;
  text-shadow: 1px 0 2px #94566d;
}

#tempLinks {
  width         : 72vw;
  margin        : 0 auto;
  padding-bottom: 5vw;
  font-size     : 2vw;
  font-weight   : 900;
  padding-top   : 2.5vw;
}

#tempLinks a {
  font-family: "Acme", sans-serif;
  font-size  : 2vw;
}

#tempLinks a:visited,
a:link {
  font-family: "Acme", sans-serif;
  color      : #fdff8d;
  text-shadow: 1px 1px 0 #8f1d83;
}

#tempLinks a:hover,
a:active {
  font-family: "Acme", sans-serif;
  color      : #d7e337;
  text-shadow: .1vw 0 .2vw #94566d;
  font-size  : 1.7;
}

.signature {
  font-family  : "Special Elite", cursive;
  color        : whitesmoke;
  text-shadow  : .3vw .2vw .5vw #94566d;
  font-size    : 3vw;
  margin-bottom: 1vw;
}

#mainWords {
  margin-right: 3vw;
}

#computerMe {
  width      : 45vw;
  float      : right;
  height     : 64vw;
  margin-left: 3vw;
}

#mainGreeting {
  font-family   : "Alfa Slab One", cursive;
  color         : #d7e337;
  text-shadow   : .3vw .2vw .3vw #94566d;
  font-size     : 3vw;
  padding-top   : 2vw;
  padding-bottom: 1.5vw;
  text-align    : center;
}

#mainSection {
  background-color: #427c64;
  padding-left    : 4vw;
  width           : 85vw;
  margin          : auto;
  box-shadow      : 5px 5px 20px #85642f;
}

#ps {
  color      : #8dd49c;
  font-family: "Chewy", cursive;
  font-size  : 1.25vw;
}

#navNote {
  color      : #2eba64;
  font-family: "Chewy", cursive;
  font-size  : 1.25vw;
}
/*START FOOTER GROUP START*/
footer {
  background-image: url("../images/footers/basicpotheadfooter.webp");
  background-size : cover;
  height          : 35vw;
  width           : 100%;
}

.social_media_buttons {
  margin     : auto;
  width      : 100%;
  padding-top: 20vw;
}

.social_media_buttons ul {
  list-style-type : none;
  background-color: transparent;
  margin-left     : 10vw;
}

.social_media_buttons img {
  width  : 10vw;
  height : 10vw;
  float  : left;
  padding: 1vw;
}

.social_media_buttons li {
  opacity: .6;
}

.social_media_buttons li:hover {
  opacity: 1;
}

.rotator img {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition   : all 1s ease-in-out;
  -o-transition     : all 1s ease-in-out;
  -ms-transition    : all 1s ease-in-out;
}

.rotator img:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform   : rotate(360deg);
  -o-transform     : rotate(360deg);
  -ms-transform    : rotate(360deg);
}

.rotator img:active {
  -webkit-transform: rotate(-360deg);
  -moz-transform   : rotate(-360deg);
  -o-transform     : rotate(-360deg);
  -ms-transform    : rotate(-360deg);
  opacity          : 1;
}

.rotator img:visted {
  opacity: .75;
}
/*END FOOTER GROUP END*/