/*GLOBAL*/
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #8ca082;
}

p {
  color: #5f685e;
  font-size: 2.2vw;
  line-height: 1.7;
  font-family: 'Special Elite', cursive;
  font-weight: 900;
  padding: 5vw 5vw 0vw 5vw;
  color: #5f685e;
}



/*START HEADER GROUP START*/
header {
  background-image: url(../images/headers/potphotoheader.webp);
  background-size: cover;
  height: 35vw;
  width: 100%;
}

.header_text_group {
  color: #d3d99d;
  text-shadow: .25vw .15vw 0vw #0e1716;
  text-align: center;
  padding-top: 15vw;
  font-size: 2vw;
  padding-left: 10vw;
}

.title_course_line {
  font-size: 4.5vw;
  font-family: 'Acme', sans-serif;
}

.title_main {
  font-size: 5vw;
  font-family: 'Alfa Slab One', cursive;
}

.title_tagline {
  margin-top: .5vw;
  font-size: 2.9vw;
  font-family: 'Acme', sans-serif;
}

/*START NAVBAR START*/
nav a:link {
  color: #d7e337;
  font-family: 'Acme', sans-serif;
  font-size: 2.4vw;
  text-shadow: .3vw .2vw 0vw #94566d;
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
}

nav a:visited {
  color: #d7e337;
  font-family: 'Acme', sans-serif;
  font-size: 2.4vw;
  text-shadow: .3vw .2vw 0vw #94566d;
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
}

#navStoner {

  font-size: 3vw;
}

#homeNav {
  font-family: 'Alfa Slab One', cursive;
  color: #94566d;
  background-color: #8dd49c;
  font-size: 2.5vw;
  text-shadow: .2vw .1vw 0vw #d7e337;
}

#dropHome:hover {
  font-family: 'Alfa Slab One', cursive;
  color: #8f1d83;
  background-color: #2eba64;
  font-size: 2.5vw;
  text-shadow: .2vw .1vw 0vw #fdff8d;
}

#dropHome {
  font-family: 'Alfa Slab One', cursive;
  color: #8f1d83;
  font-size: 2.5vw;
  text-shadow: .2vw .1vw 0vw #fdff8d;
}

nav ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #427c64;
}

nav li {
  float: left;
  border-right: .1vw solid #8dd49c;
  margin-bottom: -.75vw;
}

nav li:last-child {
  border-right: none;
}

nav li a:hover:not(.active) {
  background-color: #2eba64;
}

.active {
  background-color: #2eba64;
}

.active:hover {
  background-color: #2eba64;
}

nav li a, .dropbtn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  display: block;
  color: whitesmoke;
  padding: 1.4vw 1.6vw;
}

nav li a:hover, .dropdown:hover .dropbtn {
  background-color: #8dd49c;
  color: whitesmoke;
  font-family: 'Acme', sans-serif;
}

nav li.dropdown {
  display: inline-block;
}

.dropdown-content {
  margin-top: -.75vw;
  margin-left: -.1vw;
  display: none;
  position: absolute;
  background-color: #427c64;
  box-shadow: 0vw .8vw 1.6vw 0vw rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.dropdown-content a {
  font-family: 'Acme', sans-serif;
  padding: 1.2vw 1.6vw;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*START NAVBAR START*/
/*END HEADER JUMBOTRON GROUP END*/

#capTitle{
  width: 86vw;
  height: 35vw;
  background-image: url(../images/html-and-css-one/labImageII.webp);
  background-size: 86vw 35vw;
  background-repeat: no-repeat;
}

.page_title {
  color: #f2e5b1;
  font-family: 'Cinzel', serif;
  text-shadow: .1vw .15vw 0vw whitesmoke, 1vw 1vw  2vw whitesmoke, 1vw 1vw 1vw black;
  text-align: center;
  padding-top: 25vw;
  font-size: 6.5vw;
}


.introduction_text_content {
  background-color: #f3e4df;
  width: 86vw;
  margin: 5vw auto;
  box-shadow: .5vw .5vw .5vw #2d4c1f;
padding-bottom: 5vw;

}

#assingmentIntro {
  background-color: #f3e4df;
  width: 86vw;
  margin: auto;
  box-shadow: .5vw .5vw .5vw #2d4c1f;
  margin-bottom: 5vw;
  padding-bottom: 5vw;
}

#atHandImage {
  width: 86vw;
  height: 35vw;

}

.assignment_mini_title {
  color: #5f685e;
  font-family: 'Cinzel', serif;
  font-size: 4vw;
  padding-left: 5vw;
  padding-top: 5vw;
  text-shadow: .1vw .1vw .1vw black;
}



#newsletterDiv {
  background-color: #f3e4df;
  width: 86vw;
  margin: auto;
  box-shadow: .5vw .5vw .5vw #2d4c1f;
  margin-bottom: 5vw;
  color: #5f685e;
}

#newsImage {
  width: 86vw;
  height: 35vw;
}

#mailChimpDiv {
  margin: 0 auto;
  width: 35vw;
}

#mailChimpDiv input{
color: #5f685e;
      font-family: 'Special Elite', cursive;
      padding: 1vw;
      font-size: 2vw;
      font-weight: bolder;
}

#subscribeTitle{
  margin-top: 5vw;
  color: #5f685e;
  font-family: 'Cinzel', serif;
  font-size: 3.25vw;
  text-shadow: .1vw .1vw .1vw black;
}


.indicates-required {
  color: #5f685e;
  font-size: 1.5vw;
  font-weight: bolder;
  padding-bottom: 2vw;
  margin-left: -1vw;
  margin-top: -1vw;
    font-family: 'Cinzel', serif;
}

.mc-field-group {
  color: #5f685e;
  padding-bottom: 2vw;
  font-size: 2vw;
  font-family: 'Cinzel', serif;
  font-weight: bolder;

}

.bday_group {
  font-size: 1.5vw;

}

.bday_group input {
  font-size: 2vw;
    font-family: 'Special Elite', cursive;

}

#chimpPower {
  font-size: 1.2vw;
margin-top: -2.5vw;vw;
margin-left: 10vw;
position: absolute;
}

#mcButton{

margin-top: 1vw;
}

#bdayNote {
  font-size: 2vw;
  font-family: 'Acme', sans-serif;
  padding: 5vw;
}

.datefield {}

.assignment_long_title{
  color: #5f685e;
  font-family: 'Cinzel', serif;
  font-size: 2.5vw;
  padding-top: 5vw;
  padding-left: 5vw;
  margin-bottom: -5vw;
  text-shadow: .1vw .1vw .1vw black;
}

#donateDiv {
  background-color: #f3e4df;
  width: 86vw;
  margin: auto;
  box-shadow: .5vw .5vw .5vw #2d4c1f;
  margin-bottom: 5vw;
}

#checkImage {
  width: 86vw;
  height: 35vw;
}

#paypalButtonGroup {
  margin-left: 22.5vw;
  padding-bottom: 5vw;



}

#labImage {
  width: 86vw;
  height: 35vw;
  margin-bottom: -2vw;
}






















/*ID*/


#bootstrapButton {
  box-shadow: inset 0vw 0vw 1.4vw -.3vw #f2fadc;
  background: linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
  background-color: #dbe6c4;
  border-radius: .6vw;
  border: .1vw solid #b2b8ad;
  display: inline-block;
  cursor: pointer;
  color: #263753;
  font-family: 'Acme', sans-serif;
  font-weight: bold;
  text-shadow: 0vw .1vw 0vw #ced9bf;
  font-family: 'Cinzel', serif;
font-size: 3vw;
  font-weight: bold;
  padding: 2.5vw;
  text-decoration: none;
  text-shadow: 0vw .1vw 0vw ghostwhite;
  box-shadow: .5vw .5vw .5vw #2d4c1f;
    margin: 0 auto;

}

#bootstrapButton:hover {
  background: linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
  background-color: #9ba892;
  color: whitesmoke;
  text-shadow: 0vw .1vw 0vw #263753;
}

#bootstrapButton:active {
  position: relative;
  top: .1vw;
}

#bootstrapButtonDiv {
  width: 70vw;
  margin: auto;
  padding-bottom: 5vw;
}






/*START FOOTER GROUP START*/
footer {
  position: relative;
  background-image: url("../images/footers/basicpotheadfooter.webp");
  background-size: cover;
  height: 35vw;
  width: 100%;
}

/*END FOOTER GROUP END*/
