/*GLOBAL*/
* {
  padding: 0;
  margin: 0;
}
/*START HEADER GROUP START*/
.sharethis-inline-share-buttons {
  color: white;
  float: right;
}
header {
  background-image: url("../images/headers/potphotoheader.webp");
  background-size: cover;
  height: 35vw;
  width: 100%;
  position: relative;
  z-index: 5;
}
.header_text_group {
  color: #d3d99d;
  text-shadow: 0.25vw 0.15vw 0 #0e1716;
  text-align: center;
  padding-top: 15vw;
  font-size: 2vw;
  padding-left: 10vw;
}
.title_course_line {
  font-size: 4.5vw;
  font-family: "Acme", sans-serif;
}
.title_main {
  font-size: 5vw;
  font-family: "Alfa Slab One", cursive;
}
.title_tagline {
  margin-top: 0.5vw;
  font-size: 2.9vw;
  font-family: "Acme", sans-serif;
}
/*START NAVBAR START*/
#mainNav {
  position: relative;
  z-index: 5;
}
nav a:link {
  color: #d7e337;
  font-family: "Acme", sans-serif;
  font-size: 2.4vw;
  text-shadow: 0.3vw 0.2vw 0 #94566d;
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
}
#navStoner {
  font-size: 3vw;
}
#homeNav {
  font-family: "Alfa Slab One", cursive;
  color: #94566d;
  background-color: #8dd49c;
  font-size: 2.5vw;
  text-shadow: 0.2vw 0.1vw 0 #d7e337;
}
#dropHome:hover {
  font-family: "Alfa Slab One", cursive;
  color: #8f1d83;
  background-color: #2eba64;
  font-size: 2.5vw;
  text-shadow: 0.2vw 0.1vw 0 #fdff8d;
}
#dropHome {
  font-family: "Alfa Slab One", cursive;
  color: #8f1d83;
  font-size: 2.5vw;
  text-shadow: 0.2vw 0.1vw 0 #fdff8d;
}
nav ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #427c64;
}
nav li {
  float: left;
  border-right: 0.1vw solid #8dd49c;
  margin-bottom: -0.75vw;
}
nav li:last-child {
  border-right: none;
}
nav li a:hover:not(.active) {
  background-color: #2eba64;
}
.active {
  background-color: #2eba64;
}
.active:hover {
  background-color: #2eba64;
}
.dropbtn,
nav li a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  display: block;
  color: whitesmoke;
  padding: 1.4vw 1.6vw;
}
.dropdown:hover .dropbtn,
nav li a:hover {
  background-color: #8dd49c;
  color: whitesmoke;
  font-family: "Acme", sans-serif;
}
nav li.dropdown {
  display: inline-block;
}
.dropdown-content {
  margin-top: -0.75vw;
  margin-left: -0.1vw;
  display: none;
  position: absolute;
  background-color: #427c64;
  box-shadow: 0 0.8vw 1.6vw 0 rgba(0, 0, 0, 0.2);
  z-index: 100;
}
.dropdown-content a {
  font-family: "Acme", sans-serif;
  padding: 1.2vw 1.6vw;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
#certTab {
  float: right;
}
/*START NAVBAR START*/
/*END HEADER JUMBOTRON GROUP END*/
main {
  background-image: url(../images/javascript/theTrueConverter.png);
  width: 100%;
  height: 125vw;
  padding-top: 25vw;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow-y: hidden;
}
#mainContainer {
  width: 76vw;
  margin: 0 auto;
}
#introContainter {
  display: none;
  background-color: purple;
  padding: 5vw;
  text-align: center;
  box-shadow: -1vw -1vw 5vw #d7b046, 1vw 1vw 5vw #6c8230, 1.25vw 1.25vw 1.5vw black;
  opacity: 0.85;
  margin-top: 15vw;
}
#ozWelcome {
  color: #ffdb4c;
  font-size: 5vw;
  text-shadow: 0.75vw 0.75vw 0.75vw #951318, 0.5vw 0.5vw 1vw black;
  font-family: "Alfa Slab One", cursive;
}
#ozTitle {
  color: whitesmoke;
  font-size: 7.5vw;
  text-shadow: 0.25vw 0.25vw 0vw #d17e90, 0.5vw 0.5vw 1vw black;
  font-family: "Lobster", cursive;
}
#enterLeave table {
  padding-top: 5vw;
  color: lawngreen;
  font-weight: bolder;
  font-size: 4vw;
  font-family: "Acme", sans-serif;
  text-shadow: 0.5vw 0.5vw 1vw black;
  display: none;
}
#enter {
  width: 38vw;
  padding-left: 5vw;
}
#enter:hover {
  color: yellow;
}
#enter:active {
  color: whitesmoke;
}
#enter:visited {
  color: yellowgreen;
}
#leave {
  width: 38vw;
  text-align: right;
  padding-right: 5vw;
}
#leave:hover {
  color: yellow;
}
#leave:active {
  color: whitesmoke;
}
#leave:visited {
  color: yellowgreen;
}
#descriptioncontainer {
  margin: 0vw auto;
  display: none;
  margin-top: -10vw;
}
#ozContent {
  width: 100%;
  padding: 2.5vw;
  padding-top: 5vw;
  background-color: #576844;
  box-shadow: 2vw 2vw 5vw #68846e;
}
#ozContent h4 {
  font-family: "Lobster", cursive;
  color: yellow;
  font-size: 7.5vw;
  padding-bottom: 2.5vw;
  text-shadow: 0.35vw 0.35vw 0vw black, 0.5vw 0.5vw 0vw whitesmoke;
}
#ozContent p {
  font-family: "Cinzel", serif;
  color: palegoldenrod;
  line-height: 1.5;
  font-weight: bolder;
  font-size: 2.5vw;
  padding-bottom: 2.5vw;
  text-shadow: 0.3vw 0.3vw 0vw black, 0.35vw 0.35vw 0vw black;
}
#descriptioncontainer table {
  width: 76vw;
  margin: 5vw auto;
  color: #fada32;
  font-weight: bolder;
  font-size: 5vw;
  font-family: "Acme", sans-serif;
  text-shadow: 0.5vw 0.5vw 1vw black;
}
#sure {
  float: left;
  margin-left: 5vw;
}
#sure:hover {
  color: whitesmoke;
}
#sure:active {
  color: #d68321;
}
#sure:visited {
  color: yellowgreen;
}
#nope {
  float: right;
}
#nope:hover {
  color: whitesmoke;
}
#nope:active {
  color: #d68321;
}
#nope:visited {
  color: yellowgreen;
}
#ageQuestion {
  width: 50vw;
  margin-left: 5vw;
  margin-top: -10vw;
  display: none;
}
#ageContent {
  width: 100%;
  margin-left: -12.5vw;
  padding: 3vw;
  background-color: #40473f;
  box-shadow: 1vw 1vw 5vw black;
}
#ageContent h4 {
  font-family: "Lobster", cursive;
  color: yellow;
  font-size: 5vw;
  text-shadow: 0.1vw 0.1vw 0vw whitesmoke, 0.25vw 0.25vw 0vw #d17e90;
  float: left;
}
#ageContent h2 {
  clear: both;
  color: whitesmoke;
  font-size: 5vw;
  text-align: right;
  text-shadow: 0.25vw 0.25vw 0vw #d17e90, 0.5vw 0.5vw 1vw black;
  font-family: "Lobster", cursive;
}
#ageContent p {
  color: #d17e90;
  font-size: 2.6vw;
  text-align: center;
  text-shadow: 0.1vw 0.1vw 0vw black;
  font-weight: bolder;
}
#ageContent h6 {
  color: #789e7d;
  font-size: 1.9vw;
  text-shadow: .07vw .07vw .1vw black;
  text-align: center;
  padding-top: 2.5vw;
}
#ageButtons {
  display: none;
  margin-left: -12.5vw;
  margin-top: 2.75vw;
  color: #f9c52f;
  font-weight: bolder;
  font-size: 4vw;
  font-family: "Acme", sans-serif;
  text-shadow: 0.5vw 0.5vw 1vw black;
}
#whyNot {
  width: 20vw;
}
#whyNot:hover {
  color: lawngreen;
}
#whyNot:active {
  color: whitesmoke;
}
#whyNot:visited {
  color: yellow;
}
#noTrust {
  width: 30vw;
  text-align: right;
  padding-left: 5vw;
}
#noTrust:hover {
  color: lawngreen;
}
#noTrust:active {
  color: whitesmoke;
}
#noTrust:visited {
  color: yellow;
}
#hallwayAgeResults {
  display: none;
}
#hallwayContent {
  margin-top: -15vw;
  width: 100%;
  padding: 5vw;
  background-color: #ffd72d;
  box-shadow: 1vw 1vw 5vw goldenrod;
}
#hallwayContent h4 {
  font-family: "Lobster", cursive;
  color: purple;
  font-size: 4.5vw;
  text-shadow: 0.1vw 0.1vw 0vw whitesmoke, 0.75vw 0.75vw 1vw #d17e90;
  padding-bottom: 2.5vw;
}
#hallwayContent h3 {
  color: darkgoldenrod;
  font-size: 3vw;
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
  text-shadow: 0.1vw 0.1vw 0vw purple;
  font-weight: bolder;
}
#areYouReady {
  color: whitesmoke;
  font-size: 3vw;
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
  text-shadow: 0.1vw 0.1vw 0vw purple;
  font-weight: bolder;
  font-family: "Acme", sans-serif;
}
#hallwayButtons {
  width: 76vw;
  margin: 5vw auto;
  color: lawngreen;
  font-weight: bolder;
  font-size: 4vw;
  font-family: "Acme", sans-serif;
  text-shadow: 0.5vw 0.5vw 1vw black;
}
#keepGoing {
  width: 38vw;
  padding-left: 2.5vw;
}
#keepGoing:hover {
  color: whitesmoke;
}
#keepGoing:active {
  color: #d17e90;
}
#keepGoing:visited {
  color: yellowgreen;
}
#tooScared {
  width: 38vw;
  text-align: right;
  margin-right: 25vw;
}
#tooScared:hover {
  color: whitesmoke;
}
#tooScared:active {
  color: #d17e90;
}
#tooScared:visited {
  color: yellowgreen;
}
#delayAnimation {
  display: none;
  width: 10vw;
  margin: auto;
  margin-top: 25vw;
}
#meOzHead {
  display: none;
  width: 50vw;
  margin: auto;
  margin-top: -15vw;
}
#enterTheChambers h4 {
  font-family: "Lobster", cursive;
  color: lawngreen;
  font-size: 5vw;
  text-shadow: 0.1vw 0.1vw 0vw whitesmoke, 0.25vw 0.25vw .25vw purple;
}
#enterTheChambers p {
  color: yellow;
  font-size: 3vw;
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
  text-shadow: 0.2vw 0.2vw 0.3vw black;
  font-weight: bolder;
}
.speech-bubble .up-arrow {
  border-style: solid;
  position: absolute;
  z-index: 1;
}
.top {
  border-color: transparent transparent purple transparent;
  border-width: 4.5vw 4.5vw 4.5vw 4.5vw;
  margin-top: -12.5vw;
  margin-left: 40vw;
}
.speech-bubble {
  display: none;
  width: 100%;
  padding: 2.5vw;
  background-color: floralwhite;
  border-radius: 2.5vw;
  box-shadow: 1vw 2.5vw 0vw black, -1vw 2.5vw 0vw black, 2vw 2vw 5vw white;
  border: 1vw solid purple;
  z-index: 0;
  opacity: .85;
}
#chamberAnswer1 {
  text-align: center;
  color: yellow;
  font-weight: bolder;
  font-size: 4vw;
  font-family: "Acme", sans-serif;
  text-shadow: 0.5vw 0.5vw 1vw black;
  margin-top: 10vw;
  margin-left: 5vw;
  width: 100%;
  display: none;
}
#answer {
  margin-right: 5vw;
}
#answer:hover {
  color: lawngreen;
  border: 1vw solid purple;
}
#answer:active {
  color: whitesmoke;
  border: 1vw solid yellow;
}
#answer:visited {
  color: purple;
  border: 1vw solid lawngreen;
}
#yourBusiness {
  float: right;
}
#yourBusiness:hover {
  color: lawngreen;
  border: 1vw solid purple;
}
#yourBusiness:active {
  color: whitesmoke;
  border: 1vw solid yellow;
}
#yourBusiness:visited {
  color: purple;
  border: 1vw solid lawngreen;
}
#ozChamberContent3 {
  display: none;
}
#chamberAnswer2 {
  text-align: center;
  color: yellow;
  font-weight: bolder;
  font-size: 4vw;
  font-family: "Acme", sans-serif;
  text-shadow: 0.5vw 0.5vw 1vw black;
  margin-top: 10vw;
  margin-left: 5vw;
  width: 100%;
  display: none;
}
#showMe {
  margin-right: 5vw;
}
#showMe:hover {
  color: lawngreen;
  border: 1vw solid purple;
}
#showMe:active {
  color: whitesmoke;
  border: 1vw solid yellow;
}
#showMe:visited {
  color: purple;
  border: 1vw solid lawngreen;
}
#imGood {
  float: right;
  margin-left: 10vw;
}
#imGood:hover {
  color: lawngreen;
  border: 1vw solid purple;
}
#imGood:active {
  color: whitesmoke;
  border: 1vw solid yellow;
}
#imGood:visited {
  color: purple;
  border: 1vw solid lawngreen;
}
#characterRecommendation {
  color: yellow;
  font-size: 3vw;
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
  text-shadow: 0.2vw 0.2vw 0.3vw black;
  font-weight: bolder;
}
#tryRec {
  display: none;
}
#recIntro {
  font-family: "Lobster", cursive;
  color: lawngreen;
  font-size: 5vw;
  text-shadow: 0.1vw 0.1vw 0vw whitesmoke, 0.25vw 0.25vw .25vw purple;
}
#letsConvert {
  color: purple;
  text-shadow: .25vw .25vw 0vw yellow, .35vw .35vw 0vw green;
  font-family: "Alfa Slab One", cursive;
  text-align: center;
  font-size: 2.5vw;
  display: none;
}
#strainRec {
  color: forestgreen;
}
#recommendImage {
  height: 15vw;
  width: 30vw;
  background-size: 100% 100%;
  background-image: url(../images/javascript/CherryPieStrain.jpg);
  box-shadow: 1vw 1vw 5vw black;
  margin: auto;
  margin-top: 2.5vw;
  margin-bottom: 2.5vw;
}
#ozChamberContent4 {
  display: none;
}
#chamberAnswer3 {
  text-align: center;
  color: yellow;
  font-weight: bolder;
  font-size: 4vw;
  font-family: "Acme", sans-serif;
  text-shadow: 0.5vw 0.5vw 1vw black;
  margin-top: 5vw;
  margin-left: 10vw;
  width: 100%;
  display: none;
}
#thanks {
  margin-right: 5vw;
}
#thanks:hover {
  color: lawngreen;
  border: 1vw solid purple;
}
#thanks:active {
  color: whitesmoke;
  border: 1vw solid yellow;
}
#thanks:visited {
  color: purple;
  border: 1vw solid lawngreen;
}
#whatever {
  float: right;
  margin-left: 10vw;
}
#whatever:hover {
  color: lawngreen;
  border: 1vw solid purple;
}
#whatever:active {
  color: whitesmoke;
  border: 1vw solid yellow;
}
#whatever:visited {
  color: purple;
  border: 1vw solid lawngreen;
}
.answer-bubble .down-arrow {
  border-style: solid;
  position: absolute;
  z-index: 1;
  margin-top: 8.75vw;
  margin-left: 2.5vw;
}
.bottom {
  border-color: lawngreen transparent transparent transparent;
  border-width: 4.5vw 4.5vw 4.5vw 4.5vw;
}
.answer-bubble {
  text-align: center;
  display: block;
  padding: 2.5vw;
  background-color: whitesmoke;
  border-radius: 2.5vw;
  box-shadow: 0vw -2.5vw 0vw black, 0.75vw -2.5vw 0vw black, -2vw -2vw 5vw white;
  border: 1vw solid lawngreen;
  opacity: .85;
}
#converterContainer {
  width: 76vw;
  margin: 0 auto;
  background-color: purple;
  box-shadow: 1vw 1vw 5vw whitesmoke;
  opacity: .85;
  margin-top: -20vw;
  display: block;
}
#theOzConverter h2 {
  background-color: lawngreen;
  color: yellow;
  font-size: 7.5vw;
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
  text-shadow: 0.25vw 0.25vw 0vw #d17e90, 0.5vw 0.5vw 0.5vw purple;
  margin-bottom: 2.5vw;
  text-align: center;
  font-family: "Lobster", cursive;
}
#converterContainer table {
  margin: 0 auto;
}
#theOzConverter nav button {
  width: 9vw;
  font-weight: bolder;
  font-size: 2.25vw;
  padding: .5vw;
  background-color: lawngreen;
  color: whitesmoke;
  text-shadow: .25vw .25vw 0vw purple, .35vw .35vw 0vw yellow;
  font-family: "Alfa Slab One", cursive;
  text-align: center;
  height: 10vw;
}
#theOzConverter nav button:hover {
  background-color: yellow;
  color: lawngreen;
  text-shadow: .25vw .25vw 0vw purple, .35vw .35vw 0vw whitesmoke;
  font-family: "Alfa Slab One", cursive;
  text-align: center;
  height: 10vw;
}
#theOzConverter nav button:active {
  background-color: whitesmoke;
  color: purple;
  text-shadow: .25vw .25vw 0vw yellow, .35vw .35vw 0vw green;
  font-family: "Alfa Slab One", cursive;
  text-align: center;
  height: 10vw;
}
#ozInput {
  height: 15vw;
  width: 15vw;
  text-align: center;
  font-size: 5vw;
}
#inputs th {
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
}
#ozLabel {
  color: yellow;
  font-size: 7.5vw;
  padding-top: 5vw;
  padding-bottom: 2.5vw;
  text-shadow: 0.25vw 0.25vw 0vw black, 0.5vw 0.5vw 1vw #d17e90;
  margin-top: 7.5vw;
  text-align: center;
  font-family: "Lobster", cursive;
}
#gramsLBSTable {
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
}
.otherInputs {
  height: 7.5vw;
  width: 7.5vw;
  margin-bottom: 2.5vw;
  text-align: center;
  font-size: 3vw;
  font-weight: bolder;
}
.inputLables {
  color: whitesmoke;
  font-size: 4vw;
  padding-top: 5vw;
  padding-bottom: 2.5vw;
  text-shadow: 0.25vw 0.25vw 0vw black, 0.5vw 0.5vw 1vw #d17e90;
  text-align: center;
  font-family: "Lobster", cursive;
  margin-top: 2.5vw;
}
#howMuchLable {
  color: lawngreen;
  font-size: 4vw;
  padding-top: 5vw;
  padding-bottom: 2.5vw;
  text-shadow: 0.15vw 0.15vw 0vw whitesmoke, 0.25vw 0.25vw 1vw #d17e90;
  text-align: center;
  font-family: "Lobster", cursive;
}
#ammountInput {
  margin-left: 22.5vw;
}
#ammountInput input {
  text-align: center;
  padding: 1.5vw;
  font-size: 2vw;
  font-weight: bolder;
}
#howMuch {
  width: 100%;
  margin-top: 5vw;
  font-weight: bolder;
  font-size: 2.25vw;
  padding: .5vw;
  background-color: lawngreen;
  color: whitesmoke;
  text-shadow: .25vw .25vw 0vw purple, .35vw .35vw 0vw yellow;
  font-family: "Alfa Slab One", cursive;
  text-align: center;
  height: 10vw;
}
#howMuch:hover {
  background-color: yellow;
  color: lawngreen;
  text-shadow: .25vw .25vw 0vw purple, .35vw .35vw 0vw whitesmoke;
  font-family: "Alfa Slab One", cursive;
  text-align: center;
  height: 10vw;
}
#howMuch:active {
  background-color: whitesmoke;
  color: purple;
  text-shadow: .25vw .25vw 0vw yellow, .35vw .35vw 0vw green;
  font-family: "Alfa Slab One", cursive;
  text-align: center;
  height: 10vw;
}
#meOzHead2 {
  display: none;
  width: 100vw;
  margin-top: -80vw;
  margin-left: 5vw;
  position: inherit;
  z-index: 0;
}
#bigOops {
  display: none;
  position: absolute;
  width: 30vw;
  height: 7.5vw;
  margin-left: 45vw;
  text-align: center;
}
#bigOops .up-arrow {
  margin-left: 10vw;
}
#smallOops {
  position: absolute;
  text-align: center;
  color: yellow;
  font-weight: bolder;
  font-size: 4vw;
  font-family: "Acme", sans-serif;
  text-shadow: 0.5vw 0.5vw 1vw black;
  margin-top: 25vw;
  margin-left: 25vw;
  padding-top: .5vw;
  width: 20vw;
  display: none;
}
#finalResults {}
#noAttention {
  font-size: 7.5vw;
  color: green;
  text-shadow: .5vw .5vw 0vw yellow;
}
#ignoreText {}
#whereWereWe {
  text-align: center;
  color: yellow;
  font-weight: bolder;
  font-family: "Acme", sans-serif;
  text-shadow: 0.5vw 0.5vw 1vw black;
  display: none;
}
#backToMatterAtHand {
  font-family: "Lobster", cursive;
  font-size: 7.5vw;
  color: green;
  text-shadow: .5vw .5vw 0vw yellow;
}
#ohYeah {
  color: yellow;
  font-weight: bolder;
  font-size: 4vw;
  font-family: "Acme", sans-serif;
  text-shadow: 0.5vw 0.5vw 1vw black;
}
#youHave {
  font-family: "Lobster", cursive;
  font-size: 4vw;
  color: green;
  text-shadow: .5vw .5vw 0vw yellow;
}
#yourAmmount {
  color: yellow;
  font-weight: bolder;
  font-size: 5vw;
  font-family: "Acme", sans-serif;
  text-shadow: 0.5vw 0.5vw 1vw black;
}
#whichMeans {
  font-size: 3vw;
}
#canAfford {
  color: yellow;
  font-weight: bolder;
  font-size: 4vw;
  font-family: "Acme", sans-serif;
  text-shadow: 0.5vw 0.5vw 1vw black;
}
#affordTable th {
  width: 25.35vw;
  font-size: 3vw;
  color: green;
  text-shadow: .5vw .5vw 0vw yellow;
}
#affordTable {
  font-size: 2.5vw;
  margin: auto;
  margin-left: -2.5vw;
}
#resultsRevealAnswer {
  display: none;
  margin: 10vw auto;
  color: lawngreen;
  font-weight: bolder;
  font-size: 3vw;
  font-family: "Acme", sans-serif;
  text-shadow: 0.5vw 0.5vw 1vw black;
}
#resultsRevealAnswer .down-arrow {
  margin-top: 11.5vw;
}
#youAreHim {
  width: 30vw;
  margin-left: -5vw;
}
#youAreHim:hover {
  color: lawngreen;
  border: 1vw solid purple;
}
#youAreHim:active {
  color: whitesmoke;
  border: 1vw solid yellow;
}
#youAreHim:visited {
  color: purple;
  border: 1vw solid lawngreen;
}
#youAreAStoner {
  width: 30vw;
  margin-left: 15vw;
}
#youAreAStoner:hover {
  color: lawngreen;
  border: 1vw solid purple;
}
#youAreAStoner:active {
  color: whitesmoke;
  border: 1vw solid yellow;
}
#youAreAStoner:visited {
  color: purple;
  border: 1vw solid lawngreen;
}
#youCaughtTheConverter {
  display: none;
  margin-right: -7.5vw;
  width: 40vw;
  background-color: #70b463;
  padding: 5vw;
  float: right;
  box-shadow: 1vw 1vw 5vw #84f692;
}
#youCaughtTheConverter h3 {
  text-align: center;
  color: yellow;
  font-size: 4vw;
  text-shadow: 0.4vw 0.4vw 0vw black;
  font-family: "Alfa Slab One", cursive;
  background-color: #3a5a3b;
  padding: 5vw;
  margin: -5vw;
}
#youCaughtTheConverter h2 {
  color: whitesmoke;
  font-size: 6.5vw;
  text-shadow: 0.25vw 0.25vw 0vw #d17e90, 0.5vw 0.5vw 1vw black;
  font-family: "Lobster", cursive;
  text-align: center;
  margin-bottom: 2.5vw;
  background-color: #3a5a3b;
  padding: 5vw;
  margin: -5vw;
  margin-top: -7.5vw;
  margin-bottom: 5vw;
}
#youCaughtTheConverter p {
  font-family: "Cinzel", serif;
  color: yellow;
  line-height: 1.5;
  font-weight: bolder;
  font-size: 2.5vw;
  padding-bottom: 2.5vw;
  text-shadow: 0.3vw 0.3vw 0vw black, 0.35vw 0.35vw 0vw black;
}
#godspeedConverter {
  margin-top: 5vw;
  padding: 2.5vw;
  text-align: center;
  color: yellow;
  font-size: 3vw;
  text-shadow: 0.4vw 0.4vw 0vw green;
  background-color: #3a5a3b;
  font-family: "Acme", sans-serif;
  width: 100%;
}
#godspeedConverter:hover {
  color: green;
  text-shadow: 0.4vw 0.4vw 0vw whitesmoke;
  background-color: yellow;
}
#godspeedConverter:active {
  color: purple;
  text-shadow: 0.1vw 0.1vw 0vw black;
  background-color: whitesmoke;
}
#youCaughtThatOneStoner {
  display: none;
  margin-right: -7.5vw;
  width: 40vw;
  background-color: #70b463;
  padding: 5vw;
  float: right;
  box-shadow: 1vw 1vw 5vw #84f692;
}
#youCaughtThatOneStoner h3 {
  text-align: center;
  color: yellow;
  font-size: 3.5vw;
  text-shadow: 0.4vw 0.4vw 0vw black;
  font-family: "Alfa Slab One", cursive;
  background-color: #3a5a3b;
  padding: 5vw;
  margin: -5vw;
}
#youCaughtThatOneStoner h2 {
  color: whitesmoke;
  font-size: 5.5vw;
  text-shadow: 0.25vw 0.25vw 0vw #d17e90, 0.5vw 0.5vw 1vw black;
  font-family: "Lobster", cursive;
  text-align: center;
  margin-bottom: 2.5vw;
  background-color: #3a5a3b;
  padding: 5vw;
  margin: -5vw;
  margin-top: -7.5vw;
  margin-bottom: 5vw;
}
#youCaughtThatOneStoner p {
  font-family: "Cinzel", serif;
  color: yellow;
  line-height: 1.5;
  font-weight: bolder;
  font-size: 2.5vw;
  padding-bottom: 2.5vw;
  text-shadow: 0.3vw 0.3vw 0vw black, 0.35vw 0.35vw 0vw black;
}
#godspeedStoner {
  margin-top: 5vw;
  padding: 2.5vw;
  text-align: center;
  color: yellow;
  font-size: 3vw;
  text-shadow: 0.4vw 0.4vw 0vw green;
  background-color: #3a5a3b;
  font-family: "Acme", sans-serif;
  width: 100%;
}
#godspeedStoner:hover {
  color: green;
  text-shadow: 0.4vw 0.4vw 0vw whitesmoke;
  background-color: yellow;
}
#godspeedStoner:active {
  color: purple;
  text-shadow: 0.1vw 0.1vw 0vw black;
  background-color: whitesmoke;
}
#writtenBy {
  display: none;
}
#writtenBy h3 {
  color: whitesmoke;
  font-family: "Alfa Slab One", cursive;
  text-shadow: .25vw .25vw 0vw blue;
}
#writtenBy h2 {
  color: whitesmoke;
  font-size: 6vw;
  font-family: "Alfa Slab One", cursive;
  text-shadow: .25vw .25vw 0vw blue;
}
#writtenBy a {
  color: yellow;
  font-size: 5vw;
  font-family: "Lobster", cursive;
  text-shadow: .25vw .25vw 0vw black;
  text-decoration: none;
}
#javaIIButton {
  float: right;
  margin-top: 90vw;
  margin-right: -7.5vw;
  padding: 2.5vw;
  background-color: #184b2d;
  color: #fee160;
  font-family: "Acme", sans-serif;
}
#javaIIButton:hover {
  background-color: #fee160;
  color: #184b2d;
}
#javaIIButton:active {
  background-color: yellow;
  color: green;
}
#javaIIButton:visited {
  background-color: #184b2d;
  color: #fee160;
}
.elementToFadeInAndOut {
  opacity: 0;
  animation: fade 10s linear 1000000;
}
@keyframes fade {
  0%, 100% {
    opacity: .05;
  }
  50% {
    opacity: .5;
  }
}
/*START FOOTER GROUP START*/
footer {
  position: relative;
  background-image: url("../images/footers/basicpotheadfooter.webp");
  background-size: cover;
  height: 35vw;
  width: 100%;
  margin-top: -1vw;
}
.social_media_buttons {
  margin: auto;
  width: 100%;
  padding-top: 20vw;
}
.social_media_buttons ul {
  list-style-type: none;
  background-color: transparent;
  margin-left: 10vw;
}
.social_media_buttons img {
  width: 10vw;
  height: 10vw;
  float: left;
  padding: 1vw;
}
.social_media_buttons li {
  opacity: 0.6;
}
.social_media_buttons li:hover {
  opacity: 1;
}
.rotator img {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
}
.rotator img:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
}
.rotator img:active {
  -webkit-transform: rotate(-360deg);
  -moz-transform: rotate(-360deg);
  -o-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  opacity: 1;
}
.rotator img:visted {
  opacity: 0.75;
}
/*END FOOTER GROUP END*/