/*GLOBAL*/
*{
  padding: 0;
  margin: 0;
}

body{
    background-color: #d1ba86;
}

main{
  margin: 0 auto;
  padding: 50px;
  width: 960px;
  margin-top: 2%;
}

/*CLASS*/

.footer_image{
  width: 100%;
  height: 250px;
}

.header_image {
  width: 100%;
}

.header_text_group {
  color: #d3d99d;
  text-shadow: 2.5px 1.5px 0px #0e1716;
  text-align: center;
  margin-top: -20%;
  font-size: 2vw;
}

.main_content{
    font-family: 'Special Elite', cursive;
    color: #fffec5;
    text-shadow: 2px 1px 1px #81612e;
    font-size: 20px;
    line-height: 1.7;

}



.main_content a:link, a:visited {
  font-family: 'Special Elite', cursive;
  color: #abd4e6 ;
    text-shadow: 1px 0px 2px #367cd1;
    font-size: 18px;
}

.main_content a:hover, a:active {
  font-family: 'Special Elite', cursive;
  color: #367cd1;
    text-shadow: 1px 0px 2px #abd4e6;
    font-size: 18px;
}


#tempLinks a:visited, a:link {
  font-family: 'Acme', sans-serif;
  color: #abd4e6;
    text-shadow: 1px 1px 0px #367cd1;
    font-size: 18px;
}

#tempLinks a:hover, a:active {
  font-family: 'Acme', sans-serif;
  color: #367cd1;
    text-shadow: 1px 0px 2px #abd4e6;
    font-size: 18px;
}

.signature{
  font-family: 'Special Elite', cursive;
  color: whitesmoke;
  text-shadow: 3px 2px 5px #abd4e6;
  font-size: 25px;
  margin-bottom: 10px;
}

.title_course_line {
  font-size: 4.5vw;
  font-family: 'Acme', sans-serif;
}

.title_main {
  font-size: 5vw;
  font-family: 'Alfa Slab One', cursive;
}

.title_tagline {
  margin-top: 5px;
  font-size: 2.9vw;
  font-family: 'Acme', sans-serif;
}

/*ID*/

#computerMe{
  width: 450px;
  margin-left: 25px;
  margin-bottom: 25px;
  float: right;
}
#mainGreeting{
  font-family: 'Alfa Slab One', cursive;
  color: #abd4e6;
  text-shadow: 3px 2px 3px #367cd1;
  font-size: 30px;
  margin-bottom: 25px;
  margin-top: 10px;

}

#mainSection{
  background-color: #616870;
  padding: 25px;
  margin-top: 50px;
  box-shadow: 5px 5px 20px #85642f;
}

#ps{
  color: #292f49;
  font-family: 'Chewy', cursive;
font-size: 18px;

}

#tempLinks{
  color: whitesmoke;
  font-size: 20px;
  font-weight: 900;
}
