.social_media_buttons{
  margin: auto;
  width: 75vw;

}

.social_media_buttons ul{
  list-style-type: none;
}

.social_media_buttons img{
  width: 10vw;
  height: 10vw;
  float: left;
}

.social_media_buttons li{
  opacity: 0.25;
}


.social_media_buttons li:hover{
  opacity: 1;


}

.rotator img {

-webkit-transition: all 1s ease-in-out;
-moz-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
-ms-transition: all 1s ease-in-out;
}

.rotator img:hover {
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-o-transform: rotate(360deg);
-ms-transform: rotate(360deg);
opacity: 0.5;
}

.rotator img:active {
-webkit-transform: rotate(-360deg);
-moz-transform: rotate(-360deg);
-o-transform: rotate(-360deg);
-ms-transform: rotate(-360deg);
opacity: 1;
}

.rotator img:visted {
  opacity: 0.75;
}
