/*START GLOBAL START*/
* {
  margin: 0;
  padding: 0;
}

a:link {
  color: #d7e337;
    text-shadow: 0 .1vw 0 #f3b369;
}

a:visited{
  color: #d7e337;
}

a:hover{
  color: #8f1d83;
  text-shadow: 0 .1vw 0 #94566d ;
}

a:active{
  color: whitesmoke;
}
/*END GLOBAL*/

/*START HEADER GROUP START*/
header{
    background-image: url(../images/hangingweed.gif) ;
    background-size: cover;
    height: 35vw;
    width: 100%;
}

#mainTitle {
  text-align: center;
  color: #8f1d83;
  font-family: 'Alfa Slab One', cursive;
  font-size: 7vw;
  padding-top: 7.5vw;
  text-shadow: .3vw .2vw 2vw #fdff8d;
}

#mainTagLine {
  color: #d7e337;
  text-align: center;
  font-family: 'Acme', sans-serif;
  font-size: 5vw;
  text-shadow: -.3vw -.2vw 2vw #94566d;
}
/*END HEADER JUMBOTRON GROUP END*/

/*START MAIN CONTENT GROUP START*/
.main_content_container{
  width: 100%;
  background-color: #4883ad;
  height: 100vw;
}

#mainMe {
  float: left;
  height: 100%;
  width: 50vw;
}

#introTitle {
  color: #8bb091;
  margin-top: 2vw;
  font-family: 'Acme', sans-serif;
  padding-bottom: 1vw;
  font-size: 2.6vw;
  text-shadow: .3vw .2vw 0 #427c64;
}

.main_content_group {
  float: right;
  height: 100%;
  width: 40vw;
  margin-right: 4vw;
  background-color: #4883ad;
  color: #fef0cb;
  font-family: 'Special Elite', cursive;
  font-size: 1.6vw;
  text-shadow: .2vw .1vw 0vw #aa5d27;
  line-height: 1.7;
}
/*END BUTTON GROUP END*/
.myButton {
  position: absolute;
  box-shadow: .3vw .4vw 0 0 #5c2602;
  background: linear-gradient(to bottom, #ee6200 5%, #fe7a00 100%);
  background-color: #ee6200;
  border-radius: 1.8vw;
  border: .1vw solid #aa5d27;
  display: inline-block;
  cursor: pointer;
  color: #e9dbce;
  font-family: 'Acme', sans-serif;
  font-size: 1.1vw;
  padding: 1vw 1vw;
  text-decoration: none;
  text-shadow: 0 2vw 0 #612201;
  width: 15.5vw;
  margin-left:10vw;
  margin-top: -1vw;
  text-align: center;
}

.myButton:hover {
  background: linear-gradient(to bottom, #fe7a00 5%, #612201 100%);
  background-color: #aa5d27;
  color: #fdff8d;
}

.myButton:active {
  position: relative;
  top: .5vw;
}
/*END BUTTON GROUP END*/
/*END MAIN CONTENT GROUP END*/


/*START FOOTER GROUP START*/
footer{
  background-image: url(../images/farm.png) ;
  background-size: cover;
  height: 35vw;
  width: 100%;
}
/*END FOOTER GROUP END*/
