/*GLOBAL*/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3b369;
}

/*CLASS*/
.footer_image {
  height: 300px;
  width: 100%;
}

.header_image {
  width: 100%;
  height: 300px;
}

.header_text_group {
  margin-top: -250px;
}

.main_content_group {
  background-color: #4883ad;
  margin-right: 25px;
  color: #fef0cb;
  font-family: 'Special Elite', cursive;
  font-size: 16px;
  width: 900px;
  margin: 0 auto;
  margin-top: 145px;
  height: 550px;
  text-shadow: 1px 0px 0px #f3b369;
  padding-right: 25px;
}


/*ID*/


#introTitle {
  color: #8bb091;
  font-family: 'Acme', sans-serif;
  padding-bottom: 25px;
  padding-top: 25px;
  text-indent: 25px;
  font-size: 28px;
  text-shadow: 3px 2px 0px #427c64;
}

#mainMe {
  width: 350px;
  height: 550px;
  float: left;
  margin-right: 25px;
}

#mainTagLine {
  color: #d7e337;
  margin-left: 50px;
  font-family: 'Acme', sans-serif;
  font-size: 35px;
  text-shadow: 3px 2px 0px #94566d;
}

#mainTitle {
  margin-left: 25px;
  color: #8f1d83;
  font-family: 'Alfa Slab One', cursive;
  font-size: 40px;
  text-shadow: 3px 2px 0px #fdff8d;
}

.myButton {
  box-shadow: 3px 4px 0px 0px #5c2602;
  background: linear-gradient(to bottom, #ee6200 5%, #fe7a00 100%);
  background-color: #ee6200;
  border-radius: 18px;
  border: 1px solid #aa5d27;
  display: inline-block;
  cursor: pointer;
  color: #e9dbce;
  font-family: 'Acme', sans-serif;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #612201;
  margin: 50px 0px 0px 100px;
}

.myButton:hover {
  background: linear-gradient(to bottom, #fe7a00 5%, #ee6200 100%);
  background-color: #fe7a00;
}

.myButton:active {
  position: relative;
  top: 1px;
}
