/*GLOBAL*/
* {
  padding: 0;
  margin: 0;
}
/*START HEADER GROUP START*/
.sharethis-inline-share-buttons {
  color: white;
  float: right;
}
header {
  background-image: url("../../images/headers/potphotoheader.webp");
  background-size: cover;
  height: 35vw;
  width: 100%;
  position: relative;
  z-index: 5;
}
.header_text_group {
  color: #d3d99d;
  text-shadow: 0.25vw 0.15vw 0 #0e1716;
  text-align: center;
  padding-top: 15vw;
  font-size: 2vw;
  padding-left: 10vw;
}
.title_course_line {
  font-size: 3.75vw;
  font-family: "Acme", sans-serif;
}
.title_main {
  font-size: 5vw;
  font-family: "Alfa Slab One", cursive;
}
.title_tagline {
  margin-top: 0.5vw;
  font-size: 2.9vw;
  font-family: "Acme", sans-serif;
}
/*START NAVBAR START*/
#mainNav {
  position: relative;
  z-index: 5;
}
nav a:link {
  color: #d7e337;
  font-family: "Acme", sans-serif;
  font-size: 2.4vw;
  text-shadow: 0.3vw 0.2vw 0 #94566d;
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
}
#navStoner {
  font-size: 3vw;
}
#homeNav {
  font-family: "Alfa Slab One", cursive;
  color: #94566d;
  background-color: #8dd49c;
  font-size: 2.5vw;
  text-shadow: 0.2vw 0.1vw 0 #d7e337;
}
#dropHome:hover {
  font-family: "Alfa Slab One", cursive;
  color: #8f1d83;
  background-color: #2eba64;
  font-size: 2.5vw;
  text-shadow: 0.2vw 0.1vw 0 #fdff8d;
}
#dropHome {
  font-family: "Alfa Slab One", cursive;
  color: #8f1d83;
  font-size: 2.5vw;
  text-shadow: 0.2vw 0.1vw 0 #fdff8d;
}
nav ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #427c64;
}
nav li {
  float: left;
  border-right: 0.1vw solid #8dd49c;
  margin-bottom: -0.75vw;
}
nav li:last-child {
  border-right: none;
}
nav li a:hover:not(.active) {
  background-color: #2eba64;
}
.active {
  background-color: #2eba64;
}
.active:hover {
  background-color: #2eba64;
}
.dropbtn,
nav li a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  display: block;
  color: whitesmoke;
  padding: 1.4vw 1.6vw;
}
.dropdown:hover .dropbtn,
nav li a:hover {
  background-color: #8dd49c;
  color: whitesmoke;
  font-family: "Acme", sans-serif;
}
nav li.dropdown {
  display: inline-block;
}
.dropdown-content {
  margin-top: -0.75vw;
  margin-left: -0.1vw;
  display: none;
  position: absolute;
  background-color: #427c64;
  box-shadow: 0 0.8vw 1.6vw 0 rgba(0, 0, 0, 0.2);
  z-index: 100;
}
.dropdown-content a {
  font-family: "Acme", sans-serif;
  padding: 1.2vw 1.6vw;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
#certTab {
  float: right;
}
/*START NAVBAR START*/
/*END HEADER JUMBOTRON GROUP END*/
body {
  background-image: url(../../images/javascript/widescreenBG.png);
}
main {
  background-image: url(../../images/javascript/fullOz.png);
  width: 860px;
  margin: 0 auto;
  height: 1250px;
  padding-top: 250px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow-y: hidden;
  box-shadow: 5px 0px 10px black, 25px 0px 50px darkgoldenrod, -5px 0px 10px black, -25px 0px 50px darkgoldenrod;
}
#mainContainer {
  width: 700px;
  margin: 0 auto;
}
#introContainter {
  display: block;
  background-color: purple;
  padding: 50px;
  text-align: center;
  box-shadow: -10px -10px 50px #d7b046, 10px 10px 50px #6c8230, 12.5px 12.5px 15px black;
  opacity: 0.85;
  margin-top: 150px;
}
#ozWelcome {
  color: #ffdb4c;
  font-size: 50px;
  text-shadow: 7.5px 7.5px 7.5px #951318, 5px 5px 10px black;
  font-family: "Alfa Slab One", cursive;
}
#ozTitle {
  color: whitesmoke;
  font-size: 70px;
  text-shadow: 2.5px 2.5px 0px #d17e90, 5px 5px 10px black;
  font-family: "Lobster", cursive;
}
#enterLeave table {
  padding-top: 50px;
  color: lawngreen;
  font-weight: bolder;
  font-size: 40px;
  font-family: "Acme", sans-serif;
  text-shadow: 5px 5px 10px black;
  display: block;
}
#enter {
  width: 380px;
  padding-left: 50px;
}
#enter:hover {
  color: yellow;
}
#enter:active {
  color: whitesmoke;
}
#enter:visited {
  color: yellowgreen;
}
#leave {
  width: 380px;
  text-align: right;
  padding-right: 50px;
}
#leave:hover {
  color: yellow;
}
#leave:active {
  color: whitesmoke;
}
#leave:visited {
  color: yellowgreen;
}
#descriptioncontainer {
  display: none;
  margin-top: -100px;
}
#ozContent {
  width: 600px;
  padding: 50px;
  padding-top: 50px;
  background-color: #576844;
  box-shadow: 10px 5px 25px #68846e;
}
#ozContent h4 {
  font-family: "Lobster", cursive;
  color: yellow;
  font-size: 60px;
  padding-bottom: 50px;
  text-shadow: 3.5px 3.5px 0px black, 5px 5px 0px whitesmoke;
}
#ozContent p {
  font-family: "Cinzel", serif;
  color: palegoldenrod;
  line-height: 1.5;
  font-weight: bolder;
  font-size: 22.5px;
  padding-bottom: 25px;
  text-shadow: 3px 3px 0px black, 3.5px 3.5px 0px black;
}
#descriptioncontainer table {
  width: 600px;
  margin: 50px auto;
  color: #fada32;
  font-weight: bolder;
  font-size: 50px;
  font-family: "Acme", sans-serif;
  text-shadow: 5px 5px 10px black;
}
#sure {
  margin-left: -10px;
  float: left;
}
#sure:hover {
  color: whitesmoke;
}
#sure:active {
  color: #d68321;
}
#sure:visited {
  color: yellowgreen;
}
#nope {
  float: right;
}
#nope:hover {
  color: whitesmoke;
}
#nope:active {
  color: #d68321;
}
#nope:visited {
  color: yellowgreen;
}
#ageContainer {
  background-color: #40473f;
  width: 450px;
  margin-left: -50px;
  box-shadow: 10px 10px 50px black;
  padding: 25px;
  margin-top: 5vw;
}
#ageContainer h4 {
  font-family: "Lobster", cursive;
  color: yellow;
  font-size: 50px;
  text-shadow: 1px 1px 0px whitesmoke, 2.5px 2.5px 0px #d17e90;
}
#ageContainer h2 {
  color: whitesmoke;
  font-size: 50px;
  text-align: right;
  text-shadow: 2.5px 2.5px 0px #d17e90, 5px 5px 10px black;
  font-family: "Lobster", cursive;
  margin-bottom: 2.5vw;
}
#ageContainer p {
  color: #d17e90;
  font-size: 22px;
  text-align: center;
  text-shadow: 1px 1px 0px black;
  font-weight: bolder;
}
#ageContainer h6 {
  color: #789e7d;
  font-size: 15px;
  text-shadow: .7px .7px 1px black;
  text-align: center;
}
#ageButtons {
  display: none;
  width: 480px;
  margin-top: 25px;
  color: #f9c52f;
  font-weight: bolder;
  font-size: 30px;
  font-family: "Acme", sans-serif;
  text-shadow: 5px 5px 10px black;
  margin-left: -40px;
}
#ageButtons td {
  width: 250px;
}
#whyNot {
  width: 150px;
}
#whyNot:hover {
  color: lawngreen;
}
#whyNot:active {
  color: whitesmoke;
}
#whyNot:visited {
  color: yellow;
}
#noTrust {
  width: 250px;
  padding-left: 25px;
}
#noTrust:hover {
  color: lawngreen;
}
#noTrust:active {
  color: whitesmoke;
}
#noTrust:visited {
  color: yellow;
}
#hallwayAgeResults {
  display: none;
  margin-top: -175px;
}
#hallwayContent {
  width: 600px;
  margin: 0 auto;
  padding: 50px;
  background-color: #ffd72d;
  box-shadow: 10px 10px 50px goldenrod;
}
#hallwayContent h4 {
  font-family: "Lobster", cursive;
  color: purple;
  font-size: 45px;
  text-shadow: 1px 1px 0px whitesmoke, 7.5px 7.5px 10px #d17e90;
  padding-bottom: 25px;
}
#hallwayContent h3 {
  color: darkgoldenrod;
  font-size: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-shadow: 1px 1px 0px purple;
  font-weight: bolder;
}
#areYouReady {
  color: whitesmoke;
  font-size: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-shadow: 1.5px 1.5px 0px purple;
  font-weight: bolder;
  font-family: "Acme", sans-serif;
}
#hallwayButtons {
  width: 650px;
  margin: 75px auto;
  color: lawngreen;
  font-weight: bolder;
  font-size: 40px;
  font-family: "Acme", sans-serif;
  text-shadow: 5px 5px 10px black;
  margin-top: 25px;
}
#keepGoing {
  width: 380px;
  padding-left: 10px;
}
#keepGoing:hover {
  color: whitesmoke;
}
#keepGoing:active {
  color: #d17e90;
}
#keepGoing:visited {
  color: yellowgreen;
}
#tooScared {
  width: 380px;
  text-align: right;
  margin-right: 250px;
}
#tooScared:hover {
  color: whitesmoke;
}
#tooScared:active {
  color: #d17e90;
}
#tooScared:visited {
  color: yellowgreen;
}
#delayAnimation {
  display: none;
  width: 100px;
  margin: auto;
  margin-top: 250px;
}
#meOzHead {
  display: none;
  width: 500px;
  margin: auto;
  margin-top: -150px;
}
#enterTheChambers h4 {
  font-family: "Lobster", cursive;
  color: lawngreen;
  font-size: 40px;
  text-shadow: 1px 1px 0px whitesmoke, 2.5px 2.5px 2.5px purple;
}
#enterTheChambers p {
  color: yellow;
  font-size: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-shadow: 2px 2px 3px black;
  font-weight: bolder;
}
.speech-bubble .up-arrow {
  border-style: solid;
  position: absolute;
  z-index: 1;
}
.top {
  border-color: transparent transparent purple transparent;
  border-width: 45px 45px 45px 45px;
  margin-top: -125px;
  margin-left: 400px;
}
.speech-bubble {
  display: none;
  width: 600px;
  margin: 0 auto;
  padding: 25px;
  background-color: floralwhite;
  border-radius: 25px;
  box-shadow: 10px 25px 0px black, -10px 25px 0px black, 20px 20px 50px white;
  border: 10px solid purple;
  z-index: 0;
  opacity: .85;
}
#chamberAnswer1 {
  text-align: center;
  color: yellow;
  font-weight: bolder;
  font-size: 30px;
  font-family: "Acme", sans-serif;
  text-shadow: 5px 5px 10px black;
  margin-top: 100px;
  margin-left: 25px;
  width: 100%;
  display: none;
}
#fire {
  width: 860px;
  position: absolute;
  margin-top: -350px;
  display: none;
}
#leftFire {
  float: left;
  width: 400px;
  margin-top: 490px;
  margin-left: -120px;
}
#rightFire {
  float: right;
  width: 400px;
  margin-top: 425px;
  margin-right: 25px;
}
#answer:hover {
  color: lawngreen;
  border: 10px solid purple;
}
#answer:active {
  color: whitesmoke;
  border: 10px solid yellow;
}
#answer:visited {
  color: purple;
  border: 10px solid lawngreen;
}
#yourBusiness {
  float: right;
}
#yourBusiness:hover {
  color: lawngreen;
  border: 10px solid purple;
}
#yourBusiness:active {
  color: whitesmoke;
  border: 10px solid yellow;
}
#yourBusiness:visited {
  color: purple;
  border: 10px solid lawngreen;
}
#ozChamberContent3 {
  display: none;
}
#chamberAnswer2 {
  text-align: center;
  color: yellow;
  font-weight: bolder;
  font-size: 30px;
  font-family: "Acme", sans-serif;
  text-shadow: 5px 5px 10px black;
  margin-top: 100px;
  margin-left: 50px;
  width: 100%;
  display: none;
}
#showMe {
  margin-right: 50px;
}
#showMe:hover {
  color: lawngreen;
  border: 10px solid purple;
}
#showMe:active {
  color: whitesmoke;
  border: 10px solid yellow;
}
#showMe:visited {
  color: purple;
  border: 10px solid lawngreen;
}
#imGood {
  float: right;
  margin-left: 100px;
}
#imGood:hover {
  color: lawngreen;
  border: 10px solid purple;
}
#imGood:active {
  color: whitesmoke;
  border: 10px solid yellow;
}
#imGood:visited {
  color: purple;
  border: 10px solid lawngreen;
}
#characterRecommendation {
  color: yellow;
  font-size: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-shadow: 2px 2px 3px black;
  font-weight: bolder;
}
#tryRec {
  display: none;
}
#recIntro {
  font-family: "Lobster", cursive;
  color: lawngreen;
  font-size: 50px;
  text-shadow: 1px 1px 0px whitesmoke, 2px 2px 1px purple;
}
#letsConvert {
  color: purple;
  text-shadow: 1px 1px 0px yellow, 2px 2px 1px green;
  font-family: "Alfa Slab One", cursive;
  text-align: center;
  font-size: 25px;
  display: none;
}
#strainRec {
  color: forestgreen;
}
#recommendImage {
  height: 150px;
  width: 300px;
  background-size: 100% 100%;
  background-image: url(../../images/javascript/CherryPieStrain.jpg);
  box-shadow: 10px 10px 50px black;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}
#ozChamberContent4 {
  display: none;
}
#chamberAnswer3 {
  text-align: center;
  color: yellow;
  font-weight: bolder;
  font-size: 30px;
  font-family: "Acme", sans-serif;
  text-shadow: 5px 5px 10px black;
  margin-top: 50px;
  margin-left: 100px;
  width: 100%;
  display: none;
}
#thanks {
  margin-right: 50px;
}
#thanks:hover {
  color: lawngreen;
  border: 10px solid purple;
}
#thanks:active {
  color: whitesmoke;
  border: 10px solid yellow;
}
#thanks:visited {
  color: purple;
  border: 10px solid lawngreen;
}
#whatever {
  float: right;
  margin-left: 100px;
}
#whatever:hover {
  color: lawngreen;
  border: 10px solid purple;
}
#whatever:active {
  color: whitesmoke;
  border: 10px solid yellow;
}
#whatever:visited {
  color: purple;
  border: 10px solid lawngreen;
}
.answer-bubble .down-arrow {
  border-style: solid;
  position: absolute;
  z-index: 1;
  margin-top: 75px;
  margin-left: 25px;
}
.bottom {
  border-color: lawngreen transparent transparent transparent;
  border-width: 45px 45px 45px 45px;
}
.answer-bubble {
  text-align: center;
  display: block;
  padding: 27.5px;
  background-color: whitesmoke;
  border-radius: 25px;
  box-shadow: 0px -25px 0px black, 7.5px -25px 0px black, -20px -20px 50px white;
  border: 10px solid lawngreen;
  opacity: .85;
}
#converterContainer {
  width: 700px;
  margin: 0 auto;
  background-color: purple;
  box-shadow: 10px 10px 50px whitesmoke;
  opacity: .85;
  margin-top: -150px;
  display: none;
}
#theOzConverter h2 {
  background-color: lawngreen;
  color: yellow;
  font-size: 75px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-shadow: 2.5px 2.5px 0px #d17e90, 5px 5px 5px purple;
  margin-bottom: 25px;
  text-align: center;
  font-family: "Lobster", cursive;
}
#converterContainer table {
  margin: 0 auto;
}
#theOzConverter nav button {
  width: 85px;
  font-weight: bolder;
  font-size: 22.5px;
  padding: 5px;
  background-color: lawngreen;
  color: whitesmoke;
  text-shadow: 2.5px 2.5px 0px purple, 3.5px 3.5px 0px yellow;
  font-family: "Alfa Slab One", cursive;
  text-align: center;
  height: 75px;
  vertical-align: middle;
}
#theOzConverter nav button:hover {
  background-color: yellow;
  color: lawngreen;
  text-shadow: 2.5px 2.5px 0px purple, 3.5px 3.5px 0px whitesmoke;
  font-family: "Alfa Slab One", cursive;
  text-align: center;
  height: 75px;
  vertical-align: middle;
}
#theOzConverter nav button:active {
  background-color: whitesmoke;
  color: purple;
  text-shadow: 2.5px 2.5px 0px yellow, 3.5px 3.5px 0px green;
  font-family: "Alfa Slab One", cursive;
  text-align: center;
  height: 75px;
  vertical-align: middle;
}
#ozInput {
  height: 150px;
  width: 150px;
  text-align: center;
  font-size: 50px;
}
#inputs th {
  padding-top: 25px;
  padding-bottom: 25px;
}
#ozLabel {
  color: yellow;
  font-size: 75px;
  padding-top: 50px;
  padding-bottom: 25px;
  text-shadow: 2.5px 2.5px 0px black, 5px 5px 10px #d17e90;
  margin-top: 75px;
  text-align: center;
  font-family: "Lobster", cursive;
}
#gramsLBSTable {
  padding-top: 25px;
  padding-bottom: 25px;
}
.otherInputs {
  height: 75px;
  width: 75px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
}
.inputLables {
  color: whitesmoke;
  font-size: 40px;
  padding-top: 50px;
  padding-bottom: 25px;
  text-shadow: 2.5px 2.5px 0px black, 5px 5px 10px #d17e90;
  text-align: center;
  font-family: "Lobster", cursive;
  margin-top: 25px;
}
#howMuchLable {
  color: lawngreen;
  font-size: 40px;
  padding-top: 50px;
  padding-bottom: 25px;
  text-shadow: 1.5px 1.5px 0px whitesmoke, 2.5px 2.5px 10px #d17e90;
  text-align: center;
  font-family: "Lobster", cursive;
}
#ammountInput {
  margin-left: 225px;
}
#ammountInput input {
  text-align: center;
  padding: 15px;
  font-size: 20px;
  font-weight: bolder;
}
#howMuch {
  width: 100%;
  margin-top: 50px;
  font-weight: bolder;
  font-size: 22.5px;
  padding: 5px;
  background-color: lawngreen;
  color: whitesmoke;
  text-shadow: 2.5px 2.5px 0px purple, 3.5px 3.5px 0px yellow;
  font-family: "Alfa Slab One", cursive;
  text-align: center;
  height: 100px;
}
#howMuch:hover {
  background-color: yellow;
  color: lawngreen;
  text-shadow: 2.5px 2.5px 0px purple, 3.5px 3.5px 0px whitesmoke;
  font-family: "Alfa Slab One", cursive;
  text-align: center;
  height: 100px;
}
#howMuch:active {
  background-color: whitesmoke;
  color: purple;
  text-shadow: 2.5px 2.5px 0px yellow, 3.5px 3.5px 0px green;
  font-family: "Alfa Slab One", cursive;
  text-align: center;
  height: 100px;
}
#meOzHead2 {
  display: none;
  width: 1000px;
  margin-top: -800px;
  margin-left: 50px;
  position: inherit;
  z-index: 0;
}
#bigOops {
  display: none;
  position: absolute;
  width: 300px;
  height: 75px;
  margin-left: 250px;
  text-align: center;
}
#bigOops .up-arrow {
  margin-left: 100px;
}
#smallOops {
  position: absolute;
  text-align: center;
  color: yellow;
  font-weight: bolder;
  font-size: 40px;
  font-family: "Acme", sans-serif;
  text-shadow: 5px 5px 10px black;
  margin-top: 250px;
  margin-left: 250px;
  padding-top: 5px;
  width: 200px;
  display: none;
}
#finalResults {}
#noAttention {
  font-size: 50px;
  color: green;
  text-shadow: 5px 5px 0px yellow;
}
#ignoreText {}
#whereWereWe {
  text-align: center;
  color: yellow;
  font-weight: bolder;
  font-family: "Acme", sans-serif;
  text-shadow: 5px 5px 10px black;
  display: none;
}
#backToMatterAtHand {
  font-family: "Lobster", cursive;
  font-size: 75px;
  color: green;
  text-shadow: 5px 5px 0px yellow;
}
#ohYeah {
  color: yellow;
  font-weight: bolder;
  font-size: 40px;
  font-family: "Acme", sans-serif;
  text-shadow: 5px 5px 10px black;
}
#youHave {
  font-family: "Lobster", cursive;
  font-size: 40px;
  color: green;
  text-shadow: 5px 5px 0px yellow;
}
#yourAmmount {
  color: yellow;
  font-weight: bolder;
  font-size: 50px;
  font-family: "Acme", sans-serif;
  text-shadow: 5px 5px 10px black;
}
#whichMeans {
  font-size: 30px;
}
#canAfford {
  color: yellow;
  font-weight: bolder;
  font-size: 40px;
  font-family: "Acme", sans-serif;
  text-shadow: 5px 5px 10px black;
}
#affordTable th {
  width: 253.5px;
  font-size: 30px;
  color: green;
  text-shadow: 5px 5px 0px yellow;
}
#affordTable {
  font-size: 25px;
  margin: auto;
  margin-left: -25px;
}
#resultsRevealAnswer {
  display: none;
  margin: 100px auto;
  color: lawngreen;
  font-weight: bolder;
  font-size: 30px;
  font-family: "Acme", sans-serif;
  text-shadow: 5px 5px 10px black;
}
#resultsRevealAnswer .down-arrow {
  margin-top: 115px;
}
#youAreHim {
  width: 275px;
  margin-left: -50px;
}
#youAreHim:hover {
  color: lawngreen;
  border: 10px solid purple;
}
#youAreHim:active {
  color: whitesmoke;
  border: 10px solid yellow;
}
#youAreHim:visited {
  color: purple;
  border: 10px solid lawngreen;
}
#youAreAStoner {
  width: 275px;
  margin-left: 50px;
}
#youAreAStoner:hover {
  color: lawngreen;
  border: 10px solid purple;
}
#youAreAStoner:active {
  color: whitesmoke;
  border: 10px solid yellow;
}
#youAreAStoner:visited {
  color: purple;
  border: 10px solid lawngreen;
}
#youCaughtTheConverter {
  display: none;
  margin-right: -75px;
  width: 400px;
  background-color: #70b463;
  padding: 50px;
  float: right;
  box-shadow: 10px 10px 50px #84f692;
}
#youCaughtTheConverter h3 {
  text-align: center;
  color: yellow;
  font-size: 40px;
  text-shadow: 4px 4px 0px black;
  font-family: "Alfa Slab One", cursive;
  background-color: #3a5a3b;
  padding: 50px;
  margin: -50px;
}
#youCaughtTheConverter h2 {
  color: whitesmoke;
  font-size: 65px;
  text-shadow: 2.5px 2.5px 0px #d17e90, 5px 5px 10px black;
  font-family: "Lobster", cursive;
  text-align: center;
  margin-bottom: 25px;
  background-color: #3a5a3b;
  padding: 50px;
  margin: -50px;
  margin-top: -75px;
  margin-bottom: 50px;
}
#youCaughtTheConverter p {
  font-family: "Cinzel", serif;
  color: yellow;
  line-height: 1.5;
  font-weight: bolder;
  font-size: 25px;
  padding-bottom: 25px;
  text-shadow: 3px 3px 0px black, 3.5px 3.5px 0px black;
}
#godspeedConverter {
  margin-top: 50px;
  padding: 25px;
  text-align: center;
  color: yellow;
  font-size: 30px;
  text-shadow: 4px 4px 0px green;
  background-color: #3a5a3b;
  font-family: "Acme", sans-serif;
  width: 100%;
}
#godspeedConverter:hover {
  color: green;
  text-shadow: 4px 4px 0px whitesmoke;
  background-color: yellow;
}
#godspeedConverter:active {
  color: purple;
  text-shadow: 1px 1px 0px black;
  background-color: whitesmoke;
}
#youCaughtThatOneStoner {
  display: none;
  margin-right: -75px;
  width: 400px;
  background-color: #70b463;
  padding: 50px;
  float: right;
  box-shadow: 10px 10px 50px #84f692;
}
#youCaughtThatOneStoner h3 {
  text-align: center;
  color: yellow;
  font-size: 35px;
  text-shadow: 4px 4px 0px black;
  font-family: "Alfa Slab One", cursive;
  background-color: #3a5a3b;
  padding: 50px;
  margin: -50px;
}
#youCaughtThatOneStoner h2 {
  color: whitesmoke;
  font-size: 55px;
  text-shadow: 2.5px 2.5px 0px #d17e90, 5px 5px 10px black;
  font-family: "Lobster", cursive;
  text-align: center;
  margin-bottom: 25px;
  background-color: #3a5a3b;
  padding: 50px;
  margin: -50px;
  margin-top: -75px;
  margin-bottom: 50px;
}
#youCaughtThatOneStoner p {
  font-family: "Cinzel", serif;
  color: yellow;
  line-height: 1.5;
  font-weight: bolder;
  font-size: 25px;
  padding-bottom: 25px;
  text-shadow: 3px 3px 0px black, 3.5px 3.5px 0px black;
}
#godspeedStoner {
  margin-top: 50px;
  padding: 25px;
  text-align: center;
  color: yellow;
  font-size: 30px;
  text-shadow: 4px 4px 0px green;
  background-color: #3a5a3b;
  font-family: "Acme", sans-serif;
  width: 100%;
}
#godspeedStoner:hover {
  color: green;
  text-shadow: 4px 4px 0px whitesmoke;
  background-color: yellow;
}
#godspeedStoner:active {
  color: purple;
  text-shadow: 1px 1px 0px black;
  background-color: whitesmoke;
}
#writtenBy {
  display: none;
}
#writtenBy h3 {
  color: whitesmoke;
  font-family: "Alfa Slab One", cursive;
  text-shadow: 2.5px 2.5px 0px blue;
}
#writtenBy h2 {
  color: whitesmoke;
  font-size: 60px;
  font-family: "Alfa Slab One", cursive;
  text-shadow: 2.5px 2.5px 0px blue;
}
#writtenBy a {
  color: yellow;
  font-size: 50px;
  font-family: "Lobster", cursive;
  text-shadow: 2.5px 2.5px 0px black;
  text-decoration: none;
}
#javaIIButton {
  margin-top: 400px;
  margin-left: 400px;
  width: 350px;
  padding: 25px;
  background-color: #184b2d;
  color: #fee160;
  font-family: "Acme", sans-serif;
}
#javaIIButton:hover {
  background-color: #fee160;
  color: #184b2d;
}
#javaIIButton:active {
  background-color: yellow;
  color: green;
}
#javaIIButton:visited {
  background-color: #184b2d;
  color: #fee160;
}
#secretInput {
  float: left;
  margin-top: -25px;
  width: 200px;
  margin-left: -50px;
  opacity: .5;
  background-color: gold;
  color: green;
  font-weight: bolder;
  font-size: 30px;
}
#secretInput::placeholder {
  color: green;
  font-weight: bolder;
  font-size: 30px;
}
#secretButton {
  float: left;
  margin-top: 10px;
  width: 205px;
  padding: 10px;
  margin-left: -202.5px;
  opacity: .5;
  background-color: darkolivegreen;
  color: whitesmoke;
  display: none;
}
#videoSize {
  margin-top: 100px;
  width: 760px;
  height: 400px;
  background-size: 100% 100%;
}
#video487 {
  display: none;
}
#video487 iframe {
  width: 760px;
  height: 400px;
}
.elementToFadeInAndOut {
  opacity: 0;
  animation: fade 10s linear 1000000;
}
@keyframes fade {
  0%, 100% {
    opacity: .05;
  }
  50% {
    opacity: .5;
  }
}
/*START FOOTER GROUP START*/
footer {
  position: relative;
  background-image: url("../../images/footers/basicpotheadfooter.webp");
  background-size: cover;
  height: 35vw;
  width: 100%;
  margin-top: -1vw;
}
.social_media_buttons {
  margin: auto;
  width: 100%;
  padding-top: 20vw;
}
.social_media_buttons ul {
  list-style-type: none;
  background-color: transparent;
  margin-left: 10vw;
}
.social_media_buttons img {
  width: 10vw;
  height: 10vw;
  float: left;
  padding: 1vw;
}
.social_media_buttons li {
  opacity: 0.6;
}
.social_media_buttons li:hover {
  opacity: 1;
}
.rotator img {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
}
.rotator img:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
}
.rotator img:active {
  -webkit-transform: rotate(-360deg);
  -moz-transform: rotate(-360deg);
  -o-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  opacity: 1;
}
.rotator img:visted {
  opacity: 0.75;
}
/*END FOOTER GROUP END*/